[2017-08-25 03:49] coa0329 opened #3 "Filter render when publish."
We should not do xmlencode for filter.

Example

&lt;Filter CriteriaJoinOperator=&quot;&amp;amp;&quot;&gt;&lt;Criteria Row=&quot;1&quot; Field=&quot;email&quot; Operator=&quot;NotEqual&quot; Value=&quot;&quot; /&gt;&lt;/Filter&gt;

should be

<Filter CriteriaJoinOperator="&amp;"><Criteria Row="1" Field="email" Operator="NotEqual" Value="" /></Filter>

[2017-08-25 03:50] coa0329 opened #4 "Value for switcher."
We should save "Start" and "Stop" to db not true and false.

[2017-08-25 03:53] coa0329 opened #5 "Using Github issues."
We should replace feature_backlog.txt with github issues.

It will be easier to keep tracks the issue.

[2017-08-25 03:56] jiewsone commented on #5
Jiew test.

[2017-08-25 03:58] AumpaiFung commented on #5
number five

[2017-08-25 04:02] coa0329 opened #6 "Step 3 : Wait Logic"
- Step 3
What is the logic for wait ?
Example
Email 1 send on 08/01/2017.
Email 2 wait 2 days.
Email 3 wait 3 days.

Case 1 :
Email 2 : We will add 2 days to 08/01/2017 = 08/03/2017.
Email 3 : We will add 3 days to 08/01/2017 = 08/04/2017.

or

Case 2 :
Email 2 : We will add 2 days to 08/01/2017 = 08/03/2017.
Email 3 : We will add 3 days to 08/03/2017 = 08/06/2017.

[2017-08-25 04:48] daver78 commented on #6
Case 2 is how I envisioned it.  We may need to adjust the wording in the UI
but let's proceed with case 2 logic.

-dr-

*PS*:  *Are you an auditory learner?  Weekly, we bring you the latest
strategies for using multi-channel marketing automation to boost leads &
sales <http://bit.ly/PixelsAndInk>.  From the industry's top sales &
marketing minds, you’ll hear what’s working -- and not working -- so

[2017-08-25 04:49] paweenwich commented on #4
Done please check

[2017-08-25 04:50] daver78 commented on #5
Makes sense to me too.  @paagla123 I will leave you commentary and notes between us in the .txt file.  We can use 'issues' for actual to-do items.

[2017-08-25 04:55] #4 closed

[2017-08-25 04:56] coa0329 commented on #6
We will proceed with case 2 logic.

[2017-08-25 04:56] #6 closed

[2017-08-25 05:01] paweenwich commented on #3
Done, by implement {{RAW XXXXX}}  to indicate RAW (not html encode) when render.

[2017-08-25 05:10] #3 closed

[2017-08-25 05:12] paweenwich opened #7 "Publish error "The INSERT statement conflicted with the FOREIGN KEY constraint""
[publish_error.txt](https://github.com/coa0329/Bhaang/files/1250887/publish_error.txt)

I get these error after publish and has no idea what it is.   Here is the MAML (need to change to .txt in order to attach to this Issue).
[228_cd544838396850d1d00db568dff22fc1.txt](https://github.com/coa0329/Bhaang/files/1250891/228_cd544838396850d1d00db568dff22fc1.txt)

[2017-08-25 05:13] daver78 commented on #7
Are you using goals in this maml?

On Thu, Aug 24, 2017 at 10:12 PM paweenwich <notifications@github.com>
wrote:

--
Sent from within an Apple iCar beta

[2017-08-25 05:27] coa0329 commented on #7
I open 228_cd544838396850d1d00db568dff22fc1.maml in editplus and in studio then I look in program maml in studio.

<Events> in all Outbound are different
In program maml in studio

<Events />

In editplus
<Events>
          <Event EventId="20102" GoalId="14" IsDistinct="False" />
          <Event EventId="20103" GoalId="9" IsDistinct="False" />
          <Event EventId="20105" GoalId="13" IsDistin

[2017-08-25 05:51] paweenwich opened #8 "Add X (close) and (+) for closeing and opening tabs."
(Item from feature 8/24 feature_backlog.txt )

[2017-08-25 05:56] paweenwich opened #9 "Remove Save message box and using inline notify message instead"
Item from feature 8/24 feature_backlog.txt )

Dave suggest evaluating the built-in options here: http://webapplayers.com/inspinia_admin-v2.7.1/loading_buttons.html

[2017-08-25 05:57] paweenwich opened #10 "Choose Your Audience & Schedule should not be green until initial distribution time is set"
(item from backlog)

[2017-08-25 07:00] paweenwich opened #11 "Sync UI with Dave's daVinci"
(item from backlog)
- update style.css
- Regarding https://web2xmm.com/admin/welcome.php: Favicon, DV'simage, table at bottom, jumbotron at top —- are all different than mockup.
- We’re missing the “chosen” plugin for form fields.  (like editing your email)
- Wrapper is still old.
- Regarding https://web2xmm.com/admin/login.html:  (using Dave provided login page)

[2017-08-25 08:09] coa0329 commented on #7
I remove all Events from "EmailMarketing_NO_LandingPage.TMAML-v6.maml" then I can publish now.

Note : I backup and still keep Events in "EmailMarketing_NO_LandingPage.TMAML-v6-bak.maml"

[2017-08-25 08:31] paweenwich opened #12 "Overall code architecture."
* All pages are coded in php.  (Some page might still in html (login.html), we will change them all eventually).    Each screen will have it own php, for example, login.php, editPromoteBlog.php, welcome.php ..

* We split into each php to make it easier for dividing the task to individual staff.  The draw back is that we need to maintain css and include wrapper (top,left) part for each page.   I a

[2017-08-25 08:36] coa0329 commented on #7
I can publish in campaignLauncher but I get the credential error when we publish in Davinci.

Please ask studio team to check the permission to publish in Davinci.

[2017-08-25 09:06] paweenwich opened #13 "Show studio error and convert to friendly version."
- Try catch all API error and show to user (by trying to map it to friendly version first)
- map should implement in json for easy editing.

[2017-08-25 09:29] paweenwich opened #14 "Add view report button"
Add view report button to view report as
https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=PABP_reporting

[2017-08-25 10:12] coa0329 opened #15 "Send test email."
Send test email.

[2017-08-25 10:56] coa0329 opened #16 "Image doesn't display in email."
Image doesn't display in email.
![086](https://user-images.githubusercontent.com/7914690/29711396-c3ce42e0-89be-11e7-834b-89c6f45c706a.JPG)

[2017-08-25 10:57] paweenwich opened #17 "Update date at Choose Your Audience line"
Update date at Choose Your Audience line

[2017-08-25 11:19] coa0329 commented on #17
format date should be "08/25/2017 04:13:00 AM" not "28 August 2017 04:13:00 AM"

[2017-08-25 14:57] daver78 commented on #7
I believe the reason you got the first error is that Kushal's MAML assumes that some Goals exist in the account.

Are you creating/cloning those Goals when creating a new Sub-account?

[2017-08-25 14:59] daver78 commented on #15
What is the question/issue here?  Let us know so we can help.

[2017-08-25 15:02] daver78 commented on #5
I think we all agree on this one so I will close.  Thank you for the suggestion, Coa.

[2017-08-25 15:02] #5 closed

[2017-08-25 15:02] daver78 commented on #8
@paagla123 What is this about?  Can you add some notes here so I have context for what you asked?

[2017-08-25 15:03] daver78 commented on #9
@paweenwich and @coa0329, is my suggestion enough or do you need some sort of mockup?

[2017-08-25 15:03] daver78 commented on #10
@paagla123 I assume you agree and that this makes sense from user perspective?

[2017-08-25 15:04] daver78 commented on #16
@coa0329 and @paagla123, by the way, it seems real contact from MindFire Master got this email.  How did that happen?

[2017-08-25 16:49] daver78 commented on #12
@paweenwich, great details.  This is exactly what I was looking for.  Everything you've stated makes sense.  Just a few questions:

1) What is an example of “_there are a lot of UI component that can not do the "Angular way" directly_"?

2) Regarding two git repos, I have no problem with that.  We can view BhaangWeb as our "real" code and this repo as the mock-up repo.  Yes?

3) Regarding some of

[2017-08-25 20:35] daver78 opened #18 "Update Lead Alert email with slightly sexier template"
@paagla123, see `lead_alert_email.html` which I checked in today.  Can you update your MAML template(s)  with this instead of what you have now?

Few things:
1- You may want to consider *NOT* hard coding your HTML for the triggers like you do now. If we put the HTML on S3,  we can edit the triggers and alerts so that when we roll out improvements to them, everyone benefits immediately. Otherwise,

[2017-08-26 01:15] coa0329 commented on #16
The first few tests we did some mistakes in setting the filters in the maml before publish,  so emails will send to all contacts.

The issue is fixed.

[2017-08-26 01:18] coa0329 commented on #15
Should we use use SendTest api [https://studio.mdl.io/REST/programservice/help/operations/SendTest] ?

Should we have the seed drop down for user to select like in studio.

[2017-08-26 01:25] daver78 commented on #15
Kushal and I spoke about this today. I believe he is going to speak to you
in person about the next step.

Are you working on this today? If it is blocking you let us know.

On Fri, Aug 25, 2017 at 6:18 PM Coa <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-08-26 01:27] coa0329 commented on #15
No I am not working on this today.

[2017-08-26 01:27] coa0329 commented on #8
Sorry to confuse you.

We create those issues as task lists for our team. If we have questions to you we will put the labels after the subject.

[2017-08-26 01:29] daver78 commented on #8
Ok great. You can assign the issues to a specific person so shall we do
that going forward so it is more clear?

On Fri, Aug 25, 2017 at 6:27 PM Coa <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-08-26 01:32] coa0329 commented on #8
ok

[2017-08-26 19:17] daver78 opened #19 "Thoughts on Forms (and DV Smart Forms)"
@paagla123 , read the wiki post here: https://github.com/coa0329/Bhaang/wiki/Da-Vinci-Smart-Forms.

Let's discuss when ready.

[2017-08-27 15:25] daver78 commented on #19
@paagla123 By the way, you may be wondering: Why not an off-the-shelf or pre-written form builder?

Fair question.

I've looked at roughly 20-30 of them.  They all have pros/cons.

But the biggest issue in my mind is the user experience, and while some of them are configurable, I don't think any of them fit nicely into the flow of what we're trying to do.

The ones I've looked at are generic form

[2017-08-28 02:40] paweenwich commented on #12
Basically, all UI component are not "Angular way" UI.   For example, SummerNote.    In order to init/get/set HTML in/out of the component we need to call the appropriate API.
For example, get html out need to call
var markupStr = $('#summernote').summernote('code');
and a few code to set these value to JSON tree, before save to database.  Different UI need different function.

While the "Angular w

[2017-08-28 02:43] paweenwich commented on #9
@daver78 This is ok.  No mockup needed.  Thank you.

[2017-08-28 02:45] paweenwich commented on #10
@daver78 Agree

[2017-08-28 02:46] #16 closed

[2017-08-28 03:16] daver78 commented on #10
@paweenwich and @paagla123 OK let's proceed with this style and see if it feels right for the User.

[2017-08-28 03:17] daver78 commented on #9
@paweenwich OK.  After you have the team implement it in a location, can you let me know so I can take a look?  Then we can apply the same style everywhere (where it makes sense ... maybe not be every "save", only some).

[2017-08-28 03:18] daver78 commented on #15
@paagla123 Confirm you will speak to Coa and team about this when you arrive?

[2017-08-28 03:20] coa0329 commented on #7
Kushal fixed the MAML.

[2017-08-28 03:20] #7 closed

[2017-08-28 03:20] daver78 commented on #7
@coa0329 OK.  Great.

[2017-08-28 03:48] coa0329 commented on #18
@daver78 you can use {{campaignName}} for it.

[2017-08-28 03:56] daver78 commented on #18
@coa0329 OK.  Is there anything that we can use to identify the specific email?  Like a name, it's subject, etc.?

[2017-08-28 04:19] paweenwich commented on #17
Done

[2017-08-28 04:19] #17 closed

[2017-08-28 04:38] paagla123 commented on #18
We'll come up with a way to name the elements. Re the triggers,  we can put in s3.

[2017-08-28 05:14] paweenwich commented on #9
@daver78 Please take a look at, "Identify target blog post", "Warite you Email" and "Choose your Audience"

[2017-08-28 05:16] paweenwich commented on #10
Implemented, please take a look.

[2017-08-28 06:42] paweenwich commented on #14
added

[2017-08-28 09:30] paweenwich opened #20 "Da Vinci Campaign Names (non-unique) mapped to Studio Program Names (unique)"
Need to check before allow program to create if the program name is duplicate

[2017-08-28 13:55] paagla123 commented on #20
My thought on this is to differentiate between program names in Da Vinci that users use (may have duplicates) vs Program Names in Studio, which probably should be internally created by us with a combination of what user typed plus time stamp. In my opinion, we should not bug end users with creating unique names - we should be able to handle that programmatically. What do you all think? Just a sugg

[2017-08-28 14:02] paagla123 commented on #15
Coa - we'll chat about this when I see you tomorrow. Thx

[2017-08-28 14:04] paagla123 commented on #15
We need Kwang in that discussion as well - its a long story and could be a painful discussion. Basically, Send Test does not render the link clicks - so that could be an issue. I have several suggestions, we need to discuss and decide what to do.

[2017-08-28 14:06] paagla123 commented on #14
Is this resolved now?

[2017-08-28 14:07] paagla123 commented on #13
Coa - do you have a list of errors you have received so far? If not, can we go back and create one please?

[2017-08-28 14:12] paagla123 commented on #10
Yes. All I said is that "Configure Notification etc" should turn green as soon as "Choose Audience and Schedule" turns green.

[2017-08-28 14:13] paagla123 commented on #10
We ready to close this now?

[2017-08-28 14:15] paagla123 commented on #8
Dave this is for adding of deleting emails beyond the first one

[2017-08-28 14:21] daver78 commented on #8
@paagla123 What do you mean "adding **of** deleting emails"?

[2017-08-28 14:22] daver78 commented on #10
@paagla123 Can you confirm you took a look per @paweenwich "implemented" comment above?  Once you've verified, we can close.

[2017-08-28 14:29] daver78 commented on #20
**@paagla123 YES!  PAAGLA for the win!**

This is what we need to do.  If you look at 'modern' apps like Google Docs, the User is not required to make a unique name for their stuff.  Certainly, Google does that behind the scenes for them, but the User, as Kushal says, is not bothered with such mental overhead.

**We should do the same.**

I handled this in my mockup by delimiting the name entered

[2017-08-28 14:31] daver78 commented on #9
@paweenwich I think that is OK.  @paagla123 you see any issue with this?

[2017-08-28 14:31] daver78 commented on #18
@paagla123 OK will you update your T-Rex?  I mean TMAML.

[2017-08-28 14:32] daver78 opened #21 "Give me the ability to invite other collaborators"
@coa0329, can you give me the necessary permission(s) to invite a few other people?

For example, I'd like Jason to be able to watch the conversations so he gets up-to-speed with what we're doing.  I may invite RF at some point as well.

[2017-08-28 14:34] paagla123 commented on #19
@daver78 This is good - I really like it. I have had the same dilemma - the form builders seemed too complex in spite of all the hoopla (just a word I made up - hope it carries its own meaning)! I think the question we need to answer is what should we do if a user wants to place the form on the right side of the screen and not left, or should that become another template?

Re your question " Can t

[2017-08-28 14:36] paagla123 commented on #20
Yes @daver78 - only question is how will show up in the dashboard. We probably have to keep our own mapping of that - right?

[2017-08-28 14:43] paagla123 commented on #18
@daver78 Yep. I need to co-ordinate with @coa0329 - we'll deal with it in the morning

[2017-08-28 14:45] daver78 commented on #20
@paagla123 We could, or just do what I did above when displaying it back to the User.  I'm sure @paweenwich will have a suggestion.

[2017-08-28 14:45] paagla123 commented on #10
@daver78 OK.

[2017-08-28 14:47] daver78 commented on #19
@paagla123 My thought on how to address what you've stated is to simply make it another template (form on left, form on right).  They can experiment with which one brings better conversions (and we should eventually provide some data on this).

Re my question, do you know the answer?  If not, I'd like to get @jvoigt in here to answer.

[2017-08-28 14:49] paagla123 commented on #8
@daver78 I am rolling my eyes so hard that it hurts! We talked about this several times and that's why we added up to SIX emails with START/STOP.
![image](https://user-images.githubusercontent.com/29718335/29778790-624992c8-8bc5-11e7-9d94-e3c8cabdb290.png)

[2017-08-28 14:51] daver78 commented on #8
@paagla123 Well then don't roll!  Then you would have broken foot and eye! :)

Based on your drawing, I think you mean "adding **or** deleting emails".  Is that right?

If so, now I get it :)

[2017-08-28 14:53] paagla123 commented on #8
@daver78 :-)

[2017-08-28 14:55] paagla123 commented on #19
@daver78 I don't. We need to ask Jason. We can do a variable within a variable I think. In any case, I am ready to discuss this if you want to. Thx

[2017-08-28 14:57] daver78 commented on #8
@paagla123 I'm wondering if the use of the "x" in the upper right of the tabs will be confusing to "Carrie".

If she's working on the email, maybe she'll think it means closing it (as in, "OK, I'm done with this for now).

That's what "x" means most of the time (close) -- not delete.

I think the "+" is clear and non-hurtful.

@paagla123 Thoughts?  Maybe the delete should be placed elsewhere.

[2017-08-29 00:53] coa0329 commented on #21
@daver78 I cannot find where to set you to be the admin.

Please put their github id here. I will send them the invitation.

[2017-08-29 00:55] coa0329 commented on #13
@paagla123
do you have a list of errors you have received so far?
No, I don't.

If not, can we go back and create one please?
We can re-create some of them.

[2017-08-29 00:57] daver78 commented on #21
javpowell

[2017-08-29 00:59] coa0329 commented on #21
I email him the invitation.

[2017-08-29 01:21] paweenwich commented on #20
@daver78 Do we care if the publish program in studio has GUID name or "User name program + timestamp"..  In the other word, do we expect user to login Studio and see those strange name?

If not, we can
1)  name it with hash function like MD5() or GUID() and keep the mapping.
or
2) keep user program name and suffix with timestamp (Dave's trick).   We can keep the mapping or expload()

I think it de

[2017-08-29 02:33] paagla123 commented on #20
We don't expect the users to log into Studio.

[2017-08-29 08:05] paagla123 commented on #19
@AumpaiFung is now assigned to build a prototype for this. We will integrate into the main da Vinci after Print 17. For now it will be launched from the menu using "Asset Library" option. Only Form and Page libraries need to work before Print 17. The page library should have capabilities of saving the html.

[2017-08-29 08:07] paagla123 commented on #19
@daver78 we should be able to add a Form Asset into a Page Asset. The code being developed by @AumpaiFung should have the capability of saving the html from the Page Asset into the local drive.

[2017-08-29 08:11] paagla123 commented on #20
We have decided to deal with this after Print17

[2017-08-29 08:20] paagla123 commented on #15
@coa0329 did you test the Send Test API? Please let me know when - we will need to review the links.

[2017-08-29 08:22] paagla123 commented on #14
@daver78 Yes works for now

[2017-08-29 08:22] #14 closed

[2017-08-29 08:24] coa0329 opened #22 "Image does not display in gmail."
Image does not display in gmail.

We may need to change the image to link.

[2017-08-29 09:09] coa0329 commented on #15
We create the register page.
https://web2xmm.com/admin/register.php
User will enter firstname, lastname and email.
We will add them as the seed contact to studio.

In https://web2xmm.com/admin/editPromoteBlog.php
User can select his email address in the dropdown to get the test email.
![089](https://user-images.githubusercontent.com/7914690/29813500-759d931e-8cd4-11e7-9eb7-be3417dc3529.JPG)

[2017-08-29 10:04] coa0329 opened #23 "Sort account name in login page."
Sort account name in login page.

[2017-08-29 10:04] paagla123 commented on #9
@paweenwich @daver78 this works in most places. There are areas where this does not work need to be corrected:
1) Save for second and third emails.
2) After launch, there is the big box saying PUBLISH SUCCESSFUL or STUDIO RETURN ERROR. I don't think we need the PUBLISH SUCCESSFUL confirmation any more - do we? I suggest we just print thec Launch Successful message underneath the button, or in the

[2017-08-29 10:05] paagla123 commented on #10
Working fine. Closed!

[2017-08-29 10:05] #10 closed

[2017-08-29 10:11] paagla123 commented on #9
@AumpaiFung the save button in Audience should follow the same styling please.

[2017-08-29 10:51] coa0329 opened #24 "Put Blog Post URL in the link of the button in email content automatically"
Put Blog Post URL in the link of the button in email content automatically

[2017-08-29 11:59] paagla123 opened #25 "Copy Campaign feature doesn't work yet"
Copy Campaign does not appear to do anything

[2017-08-29 12:00] paagla123 commented on #22
It does now. I'll retest and close

[2017-08-29 12:04] paagla123 commented on #15
Send Test still not working - Kwang will check. Register.html is good - like it.

[2017-08-29 12:05] paagla123 opened #26 "We should allow email schedule for 2nd email onwards to go down to 0 days. Currently it stops at 1 day."

[2017-08-29 12:06] paagla123 commented on #21
@daver78 please ask Jason to accept invitation. Thx

[2017-08-29 12:09] paagla123 opened #27 "We cannot publish programs in daVinci account, but Campaign Launcher just works fine"
@daver78 - @coa0329 claims that some special permission is needed for account to be able to publish from API. I was not aware, but Coa must know, since he has done it before. Can you please get Jason to look into it? Acct ID is 16916. Thx

[2017-08-29 12:11] paagla123 opened #28 "Double byte characters mess up email content"
I tried with Thai characters - email was totally messed up. @paweenwich may have fixed something, I will retest. Not important for Print17

[2017-08-29 12:16] paagla123 opened #29 "Need ability to update and republish an already published campaign without having to publish a new program"
Agreed today that during the initial publish the program id will be retrieved and kept in a database along with Studio program name and daVinci campaign name. We will use this program later on to call checkout and checkin APIs of Studio to republish.

As a note, because of the S3 approach, we don't need to republish just for content change. We need to republish for changes due to schedule add/upda

[2017-08-29 12:18] paagla123 commented on #29
@paweenwich this issue is related to #20 as well. We can probably close one of them.

[2017-08-29 12:19] paagla123 opened #30 "List of MUST HAVE features for PRINT17"

[2017-08-29 15:21] daver78 opened #31 "Acquire domain or sub-domain for Da Vinci"
1) I want either something like:

dv.mindfireinc.com

-- or --

myDaVinci.com

2) When you go to that URL, I will build a sexy (yet simple) website/landing page to articulate the high-level value of the product.  The User will be able to log in from here -- and eventually, sign-up.

In addition, we can place the form that @paagla123 has suggested we use at Print17 on this page (the one that allows

[2017-08-29 15:22] daver78 commented on #12
@paweenwich I'm closing this issue and adding your notes to the wiki.

[2017-08-29 15:22] #12 closed

[2017-08-29 15:26] daver78 opened #32 "Print17 Promotion & Messaging Plan"
@paagla123 As is expected, the sales team is very excited to demonstrate DV.

Having been through this before many times now, I want to be very careful how we position this to our team and the market.

I'd like to have a session to discuss with you and Mackenzi the following items.  Perhaps you can give some prelim thoughts in advance of our meeting.

1- Each day, we have two 25-minute educational

[2017-08-29 15:29] #21 closed

[2017-08-29 15:33] javpowell commented on #27
This should not be the case, the User permission in Studio is what controls access. The API Partner/Pass do not limit access. Maybe the user does not have permissions inside the Studio->User Management->Roles
    (https://www.screencast.com/t/CHi4JTU9wo)

[2017-08-29 15:34] javpowell commented on #27
That, or they have not been given permission to the Program itself https://www.screencast.com/t/CHi4JTU9wo

[2017-08-29 15:53] daver78 commented on #20
@paweenwich I agree with @paagla123 -- I'm not that concerned about what the User sees in Studio.

[2017-08-29 15:53] daver78 commented on #29
@paweenwich and @paagla123 should we close this one or #20?

[2017-08-29 15:54] daver78 commented on #28
@paagla123 As mentioned on phone, my gut tells me this is a Studio platform issue.  If you can provide @javpowell with the test steps and asset(s) to repo, he can have someone verify.

[2017-08-29 15:57] daver78 commented on #26
@paagla123 and @coa0329 Agreed.  Oversight in UI.

@paagla123 This raises another item: Once the date/time has passed for the initial blast, that schedule should no longer be editable.  True, false?

[2017-08-29 15:58] daver78 commented on #25
@paagla123 In your opinion, not required for P17 -- correct?

[2017-08-29 16:00] daver78 commented on #24
@paagla123 and @coa0329 Yes this is a must.  Be aware that at some point soon, we will also need to:

a) Append a UTM string to the `<a href>`.

(I'm not sure where the team is relative to getting Google Analytics figured out in order to track conversions, but I believe the UTM string is going to play a part in this.)

b) In future, we may need to pass additional vars in query string format.

I ra

[2017-08-29 16:00] daver78 commented on #23
@coa0329 What order?

[2017-08-29 16:01] daver78 commented on #22
@paagla123 Is this still open?

[2017-08-29 16:02] daver78 commented on #19
@paweenwich Do you want to close this one, and open one specific to the work @AumpaiFung is doing?

[2017-08-29 16:07] daver78 commented on #15
@paagla123 and @coa0329 this is good; I suggest a small change in approach:

1- Please put a small plus sign or something (we'll fix it up later) near the "Send Test To" drop-down.

2- When you press the plus sign, it opens a modal with the register.html form fields in it.

I believe this accomplishes the need for P17 by placing the "add seed contact" near the spot in the UI where we are doing the

[2017-08-29 16:31] paagla123 commented on #27
@javpowell can you please shed some light on this?

[2017-08-29 16:32] paagla123 commented on #28
The characters supposed to be in UTF-8 encoding.
@paweenwich can you please check?
https://bkktest.s3.amazonaws.com/tmp/TEXT-AREA-228-a4fe27ca642b5096dbbb09b7913a3cca-EMAIL1CONTENT.html

[2017-08-29 16:38] daver78 commented on #28
@paagla123 I thought you said that in the S3 HTML, the chars show up OK?  Is what I'm seeing in the s3 file OK or NOT OK?

[2017-08-29 16:50] paagla123 commented on #30
Home: No changes

Create a campaign: Bring in the page that Dave has in the daVinci prototpe in C9.
	First two products should be the Blog and the eBook.
	Remaining products should be grayed out and non-clickable

Audiences: No changes except related to issue#9

Asset Library: Form builder, page template buikder - these two must work. Page builder must be able to download the resultant HTML.

Prod

[2017-08-29 17:02] paagla123 commented on #32
Mary and Joe would like to feature DV in this presentation as the main focus.: I don't agree. We must remember why we are doing this - it is to retain the low end of the customers. Studio is our main differentiation - there are lots of people that do the daVinci stuff. This is a leadgen cum improve retention tool.

Besides, don;t forget that we will have teh new formgen tool, which should help a l

[2017-08-29 17:39] paagla123 commented on #31
![image](https://user-images.githubusercontent.com/29718335/29835268-534328f2-8ca6-11e7-916c-58674b4ccc9c.png)

[2017-08-29 18:58] javpowell commented on #27
I responded, do I need to have more input here?

[2017-08-29 20:44] javpowell commented on #31
I think it would be cool to keep mindfireinc.com in the URL, dont want to lose brand awareness. Im a fan of dv.mindfireinc.com or davinci.mindfireinc.com. Or DaVinci

[2017-08-29 21:16] daver78 commented on #31
@paagla123 I'm in agreement with @javpowell.  I see no strong reason against using dv.mindfireinc.com, at least for now.

Can you proceed with that, and let me know where to log in to place the HTML for the website?

I want to have it done by P17.

[2017-08-29 21:19] daver78 commented on #32
@paagla123 While I agree with you re: not making it the main focus, I think it is for different reasons.  However, we come to the same conclusion either way.

So, I will tell them to focus on something else (although we can certainly touch on DV).

That said, when we speak tonight, remind me to talk to you about your reasoning.

[2017-08-29 21:22] daver78 opened #33 "Please add user "mcfarsheed""
Thank you.

[2017-08-29 21:34] javpowell commented on #31
Do you want me to set a CNAME for it right now? Lemme know where to point it.

[2017-08-30 00:27] daver78 commented on #31
@javpowell I'd like to be able to host the HTML at S3.  Can you do that for me?

[2017-08-30 00:31] daver78 opened #34 "Review "Promote an eBook" Blueprint for implementation"
Promote an eBook is ready for analysis.  Example here:

https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=PAEB_homePage&programNameHash=633269bbc183cd5b4943358130e38bb0

@paagla123, here's what I think is "ready" in each section:

- **Configure your eBook**: Ready

- **Set Up Your Landing Page**:

* **Welcome Page**: Likely go-live with just one template (2nd one in list)

* **Th

[2017-08-30 00:41] coa0329 commented on #33
I send the invitation to mcfarsheed.

[2017-08-30 00:42] daver78 commented on #33
Thank you we can close this item now
On Tue, Aug 29, 2017 at 5:41 PM Coa <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-08-30 00:44] coa0329 commented on #23
@daver78 After user login to davinci we will show them the drop down to select the account (like when you login to studio).
It doesn't sort now.

[2017-08-30 00:45] #33 closed

[2017-08-30 00:56] javpowell commented on #31
Means the whole davinci site HTML should exist on s3? SSL too eventually?

On Tue, Aug 29, 2017 at 5:27 PM daver78 <notifications@github.com> wrote:

--

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

[2017-08-30 00:58] javpowell commented on #31
Ssl requires cloudfront too but I know how to do that too.

On Tue, Aug 29, 2017 at 5:56 PM Jason Voigt <jvoigt@mindfireinc.com> wrote:

--

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

[2017-08-30 01:17] daver78 commented on #31
@javpowell let's see what @paagla123 says.  Whatever we do, I want to be able to place .html at dv.mindfireinc.com (preferably, at s3).

From that/those page(s), I will link to the appropriate sign-up and login forms for DV, which can be hosted anywhere else.

[2017-08-30 01:20] daver78 commented on #23
@paagla123 A few things about this:
- Unless you are a service provider that has multiple Clients you are managing, a real User won't have any pull-down menu.  True, or false?
- If you are a service provider, and you are managing multiple accounts, I can see the need for a pull-down. However, I don't want the service provider to have to log out to gain access to another sub-account.  We should pla

[2017-08-30 01:24] coa0329 commented on #23
@daver78 alpha asc

[2017-08-30 01:33] javpowell commented on #31
K let me know

On Tue, Aug 29, 2017 at 6:17 PM daver78 <notifications@github.com> wrote:

--

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

[2017-08-30 01:47] daver78 commented on #23
I think this is OK for the short term,  but I would really prefer that we
make it easy for the user.

I think if the first three or four sub accounts that they see in the
listing are the most recently accessed ones, and then from there it's
everything else sorted alphabetically, it would be easier for the user.

This will save time, potential mouse scrolling, and cognition to find what
you're like

[2017-08-30 02:18] daver78 opened #35 "How do we handle two people editing at the same time?"
@paagla123, I know we briefly discussed this before, but wondering what the latest thinking is re: this scenario:

1- Dave logs into a DV account for MindFire, and clicks campaign "Print 17," then changes some email content.

2- It so happens that at the same time, Kushal is in the same DV account for MindFire, and happens to be editing the same email content in "Print 17".

3- By some magic of th

[2017-08-30 02:24] paweenwich commented on #9
Done please check

[2017-08-30 02:32] paweenwich commented on #35
There are also a problem when same user open multiple tab while playing the same campaign.

The person or tab that hit "Save" later (if it need to save the same document) will fail to save because the document's revision number is not sync.

[2017-08-30 02:43] paweenwich commented on #26
The 0 days can be set now.

[2017-08-30 02:53] daver78 commented on #35
@paweenwich OK, what do you think is the solution for your scenario?

[2017-08-30 03:50] paagla123 commented on #35
We need a semaphore of some sort - don;t we?

[2017-08-30 03:53] paagla123 commented on #31
OK we will use both: dv.mindfireinc.com and davinci.mndfireinc.com

[2017-08-30 04:04] javpowell commented on #31
Let me know what u want me to host at s3 if anything

On Tue, Aug 29, 2017 at 8:53 PM Paagla123 <notifications@github.com> wrote:

--

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

[2017-08-30 04:43] paagla123 opened #36 "List of forms and associated fields"

[2017-08-30 05:30] paweenwich commented on #24
using Block Post URL is done.

[2017-08-30 05:51] paagla123 commented on #31
@daver78 both http://davinci.mindfireinc.com/admin/login.html and http://dv.mindfireinc.com/admin/login.html work, but not using the SSL. Do we need to get SSL for these? See screenshot below.

![image](https://user-images.githubusercontent.com/29718335/29857224-7c3fd6b8-8d0c-11e7-8e3d-e65da1892715.png)

[2017-08-30 05:53] paagla123 commented on #9
@paweenwich which one is done. Launch button or Save in audience or both?

[2017-08-30 05:55] paagla123 commented on #28
Came through fine on Outlook - seems a gmail issue. Need to test more

[2017-08-30 05:58] paagla123 opened #37 "Need to mock up a page builder"
@daver78 can you pl put some thought here? Like banner image at rop, form on right side, body, foooter etc. This will use the Form Asset.

[2017-08-30 06:57] paagla123 opened #38 "[Promote a Blog Post] Populate reporting snapshot on blueprint home page, and complete "View More" reporting view too"
@paweenwich here it is:

The query has been published and you can access it using the below link:

https://studio.dashboard.mdl.io/api/Report//GetAdminReportData?rn=allprogram_allemail_detail&si=0&ai=679&st=0&fd=01/01/2017&td=08/29/2017&seed=false&datasourceType=redshift

Change ai= to your account# and fd and td to your date filters. Note that this is an internal link. Please don't share with cli

[2017-08-30 07:01] paweenwich commented on #23
Ordered by name (alpha asc) for now.

[2017-08-30 07:04] paagla123 commented on #38
I ran the following query:
[{"Program":"Moe","Email":"Email1","Sent":17,"Delivered":4,"Opened":0,"Clicked":0,"FailedToProcess":0,"HardBounced":0,"SoftBounced":1,"Suppressed":12,"MarkedAsSpam":0,"Unsubscribed":0},{"Program":"Rattlesnake Sausage","Email":"Email1","Sent":4,"Delivered":2,"Opened":1,"Clicked":0,"FailedToProcess":0,"HardBounced":1,"SoftBounced":0,"Suppressed":1,"MarkedAsSpam":0,"Unsubsc

[2017-08-30 07:58] paagla123 commented on #15
Send test API test was successful. I send a test email. The link on the button to the blog worked fine. I had added an extra link in the text below the button - that also worked. Showed up nicely on gmail as well as  Outlook and my Android. Coa tried on iPhone - that also worked nicely. I will close this tomorrow unless I hear otherwise from someone. @daver78 please check.

[2017-08-30 08:01] paagla123 commented on #29
On second thoughts, they are related but #20 has additional items. I would leave both open.

[2017-08-30 08:07] paagla123 commented on #34
@jiewsone @paweenwich please remember that we discussed about not having to use a "Launch" button in this particular "product". We had discussed that since we have the first one done with the "Launch" button, we will do the second one without (as per Dave's request), and then weigh pros and cons about which is the better approach for long term. Please let me know if this is still the plan.

[2017-08-30 08:13] paagla123 commented on #9
Save Audience is done correctly - I have verified. @AumpaiFung please remove debug messages from the code, so that I can close this.

[2017-08-30 08:23] AumpaiFung commented on #9
@paagla123  I fixed it.

[2017-08-30 08:23] paagla123 commented on #9
@paweenwich SAVE button still not working correctly in 2nd and 3rd emails.

[2017-08-30 08:39] paagla123 commented on #9
@paweenwich Launch error message and alert box for save not changed yet.

[2017-08-30 08:55] paagla123 opened #39 "Sometimes the image in the email for the blog post will got outside of the email area to the left of the screen"
@paweenwich @coa0329 please see screenshot below.
![image](https://user-images.githubusercontent.com/29718335/29863681-49e13040-8d25-11e7-8873-510ba1a0065b.png). The image shows up in the wrong place if I am not careful about where we drop ot.

[2017-08-30 08:58] coa0329 commented on #27
Fixed.

It is the bug in get ticket function.

[2017-08-30 09:04] paagla123 commented on #27
Fixed by Coa. Wrong ticket used.

[2017-08-30 09:04] #27 closed

[2017-08-30 09:08] paagla123 opened #40 "Content of Email1 got copied to Email2 & Email3"
Set up campaign Kushal Blog 10202 under DaVinci account and published. Set up 2 emails with different contents.
Email1:
![image](https://user-images.githubusercontent.com/29718335/29864522-db6afe72-8d27-11e7-863a-1dd89b4f4f57.png)
Email2:
![image](https://user-images.githubusercontent.com/29718335/29864547-f15b4ff2-8d27-11e7-98d2-eb8b9e96362e.png)
What we ended up in S3 are two copies of the Email

[2017-08-30 09:08] paagla123 commented on #40
@coa0329 please check email3 also while fixig the bug. Thx

[2017-08-30 09:13] paagla123 commented on #29
@paweenwich a great example is the campaign Kushal Blog 10202 under DaVinci account. I have set up 2 emails and both have been sent. I now want to go back and set up and send the 3rd email. THis is a great example of where we should do a checkout, update and checkin to add the schedule.

I noticed that the way this code is done, it will require a publish even for content update. Instead of pointin

[2017-08-30 09:53] paagla123 commented on #40
All 3 emails actually have the same content. The email subject lines are different though, just the content is same - all copied from the first email.

[2017-08-30 09:57] paagla123 commented on #15
@paweenwich heavily tested SEND TEST - works fine and links work as well. ONLY PROBLEM IS - if I hot teh send test before saving the email, it only sends a blank email. So SEND TEST button must not be enabled until the email is saved. Also, due to issue # 40, the send test of emails 2 & 3 copy the content of email 1 - although they have correct subject.

[2017-08-30 09:59] paagla123 commented on #24
This is working fine.

[2017-08-30 09:59] #24 closed

[2017-08-30 10:00] paagla123 commented on #22
This is working fine.

[2017-08-30 10:00] #22 closed

[2017-08-30 10:16] paagla123 commented on #28
Works well now. Closed.

[2017-08-30 10:16] #28 closed

[2017-08-30 10:18] paagla123 commented on #26
DONE! CLOSED!!

[2017-08-30 10:18] #26 closed

[2017-08-30 10:22] paagla123 commented on #9
@AumpaiFung removed the alert boxes with debug messages, so I am going to close this issue. What's left here is covered n issue#29 associated with checkin, checkout and republish. In face, we do want to have the error or success message in that scenario.

[2017-08-30 10:22] #9 closed

[2017-08-30 10:25] paagla123 commented on #23
@paweenwich this is not sorted yet:
![image](https://user-images.githubusercontent.com/29718335/29868177-cec8da4e-8d32-11e7-8a46-f58e5b7cdebb.png)

[2017-08-30 10:25] paagla123 commented on #23
@daver78 we should discuss this tonight. This has become a bigger issue than what I had intended.

[2017-08-30 10:30] paagla123 commented on #20
I have renamed this issue to distinguish fro the issue of checkout/checkin/republish with the same program name which will have to be addressed before Print17. There is still an outstanding issue of da Vinci users giving wild-ass names that will get mapped to unique names in Studio - not necessary for Print17. @daver78 @paweenwich do you guys agree?

[2017-08-30 11:01] paagla123 opened #41 "Notifications and Alerts"
@coa0329 when we select Visit My Blog Post, te click email trigger needs to change status to START. It is not doing so.

@daver78 can you please check if you have received two open email alerts for John Shind?

Thanks

[2017-08-30 11:11] paagla123 commented on #11
@paweenwich should we close this after @jiewsone is done with the eBook?

[2017-08-30 14:04] daver78 commented on #31
@paagla123 I don't think we need to before P17.  After, yes.

(BTW: Can you create a second milestone so we can start moving items to that group?)

Where can I log in to put the `index.html` for this site?  Please provide creds.

[2017-08-30 14:05] daver78 commented on #27
@paagla123 Now who was smoking something?  @javpowell is vindicated.

[2017-08-30 14:07] daver78 commented on #15
@paagla123 You may want to fix your typos above so it makes sense, especially the "I hot" portion.

[2017-08-30 14:08] daver78 commented on #28
@paagla123 What was the issue?

[2017-08-30 14:08] javpowell commented on #27
Only the best Bhaang

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com | *949.579.9840*
http://www.mindfirestudio.com/

On Wed, Aug 30, 2017 at 7:05 AM, daver78 <notifications@github.com> wrote:

[2017-08-30 14:09] daver78 commented on #9
@paagla123 "In face?"  Means "in fact" ... or do you mean in the "UI"?

[2017-08-30 14:10] daver78 commented on #23
@paagla123 For P17, do `alpha asc` if you think makes sense.

Post P17, we can discuss.  No need to dig in further right now.

[2017-08-30 14:11] daver78 commented on #11
@paagla123 I don't think so.  There are still a # of inconsistencies.  Who is going to make a list, or do we not need to?

[2017-08-30 14:12] daver78 opened #42 "[Promote a Blog Post] Conversion tracking with Google Analytics"
@paagla123: Where are we with this?

Who is assigned to this task?

Is it intentionally left off the P17 list?

[2017-08-30 14:13] daver78 opened #43 "[Promote a Blog Post] Email "View Online" feature"
@paagla123 Where are we with this?  And what is your plan relative to P17?

[2017-08-30 14:14] daver78 opened #44 "[Promote a Blog Post] Replacing company vars in the email(s)"
@paagla123 Are we ingesting the global company vars from "Settings" and placing them in the "company email" template?

If not, what is the plan relative to P17?

[2017-08-30 14:15] daver78 opened #45 "[Promote a Blog Post] After a schedule has passed, should no longer be editable?"
@paagla123 Once the date/time has passed for the initial blast, that schedule should no longer be editable.

True, false?

[2017-08-30 14:25] daver78 commented on #32
We are going to discuss the details of "unveiling" on Tuesday.  Dave to send invite.

[2017-08-30 15:19] daver78 opened #46 "Create small website or landing page at dv.mindfireinc.com"
Create a small website:
- promoting the benefits of DV
- providing a "sign up now" link
- providing a "login in" link

Will be used at Print17 and ongoingly as we develop messaging for the product.

@paagla123, this is why I need to be able to place an `index.htm`l at `dv.mindfireinc.com`.

[2017-08-30 15:20] daver78 commented on #32
@Mcfarsheed see above for history of this conversation.  At this point, I've decided that **NO, we will not make it the core focus of the edu sessions**, but we can certainly touch on it.

We will discuss further on Tuesday, but for now, can you make sure this is clear to everyone?

[2017-08-30 15:22] daver78 commented on #19
@paagla123 Do you want to close this one, and open one specific to the work @AumpaiFung is doing?

[2017-08-30 15:22] daver78 commented on #18
@paagla123 Is this done?  Please confirm.

[2017-08-30 15:23] daver78 commented on #30
@paagla123 Can you break this down into discrete tasks, now that we've discussed?

[2017-08-30 15:28] daver78 commented on #15
@paagla123  this is good; I suggest a small change in approach:

1- Please put a small plus sign or something (we'll fix it up later) near the "Send Test To" drop-down.

2- When you press the plus sign, it opens a modal with the register.html form fields in it.

I believe this accomplishes the need for P17 by placing the "add seed contact" near the spot in the UI where we are doing the demo; also,

[2017-08-30 16:26] paagla123 commented on #15
@paweenwich can we please link to the register page like Dave has stated?
@daver78 OK.

[2017-08-30 16:27] paagla123 commented on #30
@daver78 its all done in the other issues - isn't it?

[2017-08-30 16:29] paagla123 commented on #19
@daver78 no - she can work off of this one. I may change that opinion once I talk to her tomorrow

[2017-08-30 16:30] paagla123 commented on #46
@daver78 OK
@paweenwich or @coa0329  Can you pl help me go through this and explain to Chay?

[2017-08-30 16:34] paagla123 commented on #45
@daver78 should be true.
@paweenwich it does not work that way. Can we please fix? Thx

[2017-08-30 16:37] paagla123 commented on #44
@daver78 Email does not have company vars any more - ts in the template. The Vars in the template should get linked to the company name etc input during registration. DO you want to address it before P17?

[2017-08-30 16:41] paagla123 commented on #43
Looks like we got too excited and missed this one!
@paweenwich we should address this please. Thx

[2017-08-30 16:42] paagla123 commented on #42
@daver78 yes. We will deal with this after P17

[2017-08-30 16:46] paagla123 commented on #9
@daver78 Yes - IN Fact we should have the success or failure message with the error information as applicable show up in the UI - right?

[2017-08-30 16:49] paagla123 commented on #28
@daver78 I'm not 100% sure - there were lots of issues with email content yesterday and Kwang was working on them. This may have been fixed as part of that. I tested several scenarios and it works - so closing it now. We will have to start a regression suite in future and include it in that.

[2017-08-30 16:58] paagla123 opened #47 "Provide for UTM code string in the link URL to the Blog Post"
Be aware that at some point soon, we will also need to:

a) Append a UTM string to the <a href>.

(I'm not sure where the team is relative to getting Google Analytics figured out in order to track conversions, but I believe the UTM string is going to play a part in this.)

b) In future, we may need to pass additional vars in query string format.

I raise this so that you consider it when you code

[2017-08-30 16:59] paagla123 commented on #25
@daver78 Yes.

[2017-08-30 17:16] paagla123 commented on #18
@daver78 not quite.
@paweenwich I have a version 8 of the MAML now that was created after talking to Coa. It fixed all the issues he and I noticed, with the exception one that I logged separately. Can you please start using the ver 8 moving forward?

[2017-08-30 17:17] paagla123 opened #48 "Create a MAML for eBook"

[2017-08-30 17:58] daver78 commented on #48
@paagla123 You OK doing this?  I think you know what needs to be done based on the articulate Blueprint Steps.  Yes?

[2017-08-30 18:04] daver78 commented on #47
@paagla123 I'm not sure how much you've worked with UTM for yourself or Clients, but there are a few basic needs:

1- We should use UTM by default to make it easy for folks to measure campaigns in Google or any other analytics package that abides by the UTM standards.

2- Some folks will want to modify the UTM string to fit into their own tracking philosophy (just like you can in Facebook Ads).

H

[2017-08-30 18:05] daver78 commented on #28
@paagla123 I suggest someone start creating selenium test cases -- soon.  Let the UI mature just a little more.  Who do you think is the right person on the team?

@javpowell adding you just as FYI.

[2017-08-30 18:07] daver78 commented on #9
@paagla123 Yes, that's what you sparked in my mind.

I can see a nice way to show this, but unsure if it "fits" because I'm still not 100% clear on how you are proposing we handle "Launch" (first publish )versus the ongoing "Updates" (check out, check in) that are required as Users edit the applicable portions.

[2017-08-30 18:08] daver78 commented on #42
@paagla123 OK, so should we leave it in the UI?  I can see pros & cons to that.

Who is assigned to GA research?

[2017-08-30 18:09] daver78 commented on #43
@paagla123 How are you going to handle the "gymnastics" (that is, the link shows up in the email version, but not in microsite page version)?

[2017-08-30 18:12] daver78 commented on #44
@paagla123 I would like to, yes.

[2017-08-30 18:24] javpowell commented on #28
Hey Dave,

Lets chat about the "State of QA" again. Things kinda got halted a while
back but really it sounds like with Da Vinci and Purl Services + Microsite
Version 2.0 there will be ample QA needs. Now more than ever we may need to
get back to finding someone for this work, theres no way I will be able to
do it all.

Thanks,
Jason

*Jason Voigt*
*Client Services Manager*
jvoigt@mindfireinc.com

[2017-08-31 02:57] coa0329 commented on #15
@daver78 register will add the new contact as seed.

[2017-08-31 03:03] daver78 commented on #15
Understood. Are you asking a question?

On Wed, Aug 30, 2017 at 7:57 PM Coa <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-08-31 03:05] coa0329 commented on #18
I put version 8 on the server.

[2017-08-31 03:06] coa0329 commented on #15
@daver78 No, Just give you more information.

[2017-08-31 03:40] jiewsone commented on #40
I already fix it.

[2017-08-31 03:59] daver78 commented on #15
@coa0329 OK, thank you.

[2017-08-31 04:07] paagla123 commented on #48
@daver78 ok

[2017-08-31 04:07] paagla123 commented on #47
@daver78 I understand

[2017-08-31 04:09] paagla123 commented on #42
@daver78 I may be confusing things here, but what's the difference between this and the new issue #47?

[2017-08-31 04:14] paagla123 commented on #18
Thanks @coa0329 . Once you fix #41 please let me know - I will test both together and close both of them. Thanks - Kushal

[2017-08-31 04:17] daver78 commented on #42
@paagla123 I see 3 discrete things:

1) One issue is making conversion tracking work (with Google, perhaps later with our own web tracking).  As I understand now, we don't intend for this to work before P17, but I'd like to know who will work on it.

2) Another issue is appending a UTM string, which is useful even if we're not doing conversion tracking.  Marketers like their UTM tagging.

3) A thi

[2017-08-31 05:32] paweenwich commented on #23
Really done this time

[2017-08-31 05:34] #23 closed

[2017-08-31 08:35] paagla123 commented on #36
@AumpaiFung please check
https://docs.google.com/a/mindfiremail.info/spreadsheets/d/1M6-F7dKyllwu1xCLYoxjZFnqFoacCgo_muQ3enH0JN8/edit?usp=sharing

[2017-08-31 08:35] paweenwich commented on #15
@daver78  Your suggestion is done, please take a look.   I need to use popup window for now because, the bootstrap modal some how does not work properly on that page.    It  shows and disappears with in 2 seconds.

[2017-08-31 08:37] paagla123 commented on #47
We will add this for Print17. Facebook ad style. There will be a field to fill in tracking code, which could be UTM string or Studio's Source tracking etc

[2017-08-31 08:40] paagla123 commented on #42
@daver78 we're addressing issue#47 for P17 - that should cover #2 above. I don;t think we need to hide anything - it will be a good talking point.

[2017-08-31 08:42] paweenwich commented on #39
please remove it from print17.  We can not fix it if we can not duplicate the bug.

[2017-08-31 08:48] paweenwich commented on #11
@daver78 Fung did apply your style.css.  If things are still not correct, could you please make a list of the # of inconsistencies (order by the importance).  So, we have something to working on this issue.

[2017-08-31 09:06] paagla123 commented on #46
@daver78 just create teh website and provide the URL to @paweenwich . He will put the index.html at the appropriate place

[2017-08-31 10:00] paagla123 commented on #31
@daver78  I am closing this one. New issue #46 is open for the index.html.

[2017-08-31 10:00] #31 closed

[2017-08-31 10:02] paagla123 commented on #43
@daver78 pl review for position and font size. The link is not working yet - I am happy to leave it this way for P17. The link will require us to work out the domain issue which I will open a new issue for.

[2017-08-31 10:07] paagla123 commented on #47
@daver78 this has been added - please check.

[2017-08-31 10:07] paagla123 commented on #47
Can we test with our own UTMs for our blogs please?

[2017-08-31 10:14] paagla123 commented on #47
I already tested, the utm string is getting passed https://www.forbes.com/2009/12/23/asia-exotic-foods-lifestyle-food-wine-holiday.html?utm_source=dv&utm_campaign=q123ssd . We ca close this after we test with MindFire blog

[2017-08-31 10:47] paagla123 commented on #41
@coa0329 I have tested again - the click alert email does not change to start even though visit my blog is selected alerts section. Pl see screenshots below.
![image](https://user-images.githubusercontent.com/29718335/29919609-da5662f6-8dfe-11e7-9b85-5c4d2dbf6b99.png)
![image](https://user-images.githubusercontent.com/29718335/29919664-0b7825ea-8dff-11e7-8738-8c27bfd8c375.png)

[2017-08-31 11:14] coa0329 commented on #47
We add the UTM string for user to enter in step1.
We will append it to the url then put it in the link in email content.

![094](https://user-images.githubusercontent.com/7914690/29920548-20278f3e-8e78-11e7-83f3-5be97d280989.JPG)

[2017-08-31 11:16] coa0329 commented on #43
We add View Online Message, Company Name, Company Address and Company Phone in Settings.

They will be rendered in all email content.

![095](https://user-images.githubusercontent.com/7914690/29920632-777c7ec0-8e78-11e7-9c21-1588bb9e8b8d.JPG)

[2017-08-31 11:17] paagla123 commented on #29
@coa0329 MAML v9 is done as you requested. Dave's html for triggers in there too.

[2017-08-31 11:18] paagla123 commented on #18
This is done. Closing it.

[2017-08-31 11:18] #18 closed

[2017-08-31 11:53] coa0329 commented on #44
We add View Company Name, Company Address and Company Phone in Settings.

They will be rendered in all email content.

![095](https://user-images.githubusercontent.com/7914690/29921898-a5d2a9ac-8e7d-11e7-85d5-6c5b5b7e7380.JPG)

[2017-08-31 11:56] coa0329 commented on #29
I updated the MAML v9.

[2017-08-31 11:57] coa0329 commented on #41
Fixed

[2017-08-31 12:53] daver78 commented on #15
@paweenwich OK, we can live with that for now with a little love to the UI.  I can probably help there.  What's the best way for me to do that?

I can make changes directly to the git repo that houses the code; or

I can do it in a mockup and send back

Which do you prefer?

[2017-08-31 12:53] daver78 commented on #42
@paagla123 Wonderful!

[2017-08-31 12:54] daver78 commented on #39
@paagla123 Have you not been able to repro this?

[2017-08-31 12:55] daver78 commented on #11
@paweenwich Yes, I/we can do that.  When do you want the list?

@paagla123 You may be able to help with this?

[2017-08-31 12:57] daver78 commented on #46
@paagla123 Sorry I don't get your comment.  What do you mean "provide the URL to @paweenwich"?

- Do you want me to get the site up and running at S3? or

- Do you mean provide @paweenwich  the `HTML` (URL is typo)?

Sorry not trying to be silly just making sure I understand you.

[2017-08-31 12:58] daver78 commented on #47
@coa0329 Not bad!  I may want to give it some love (small love) but great start!

[2017-08-31 13:00] daver78 commented on #43
@paagla123 and @coa0329 I will check it out.

@paagla123 In addition to the domain issue you mention, you also have to figure out how to remove the "View online message" from the microsite page, right?

[2017-08-31 13:00] daver78 commented on #18
@paagla123 Excellent.

[2017-08-31 13:01] daver78 commented on #29
@paagla123 Help me understand how `MAML v9` addresses the "Need ability to update and republish an already published campaign without having to publish a new program"?

Or is it unrelated?

[2017-08-31 13:12] daver78 opened #49 "Consider providing me access to code repo to speed up UI love"
@paweenwich and @paagla123 I could possibly help expedite the UI love that's required if I have access to the code repo.

I still want the team to do as much as possible on their own (and with @paagla123's help), but I'm sure there will be small but significant little touches that I'd like to do myself.

Any issue with this?

[2017-08-31 13:14] daver78 opened #50 "Next milestone date established"
@paagla123 The next opportunity we have to engage prospects and customer at an event is MarTech in Boston, and thINK in Florida.  They're both the first week of October.

I set the next milestone date based on the earliest of the two, which is MarTech.

Once you have a handle on the P17 stuff, let's start assigning things to this milestone.  Does that makes sense to you?

[2017-08-31 15:38] daver78 opened #51 "[Promote a Blog Post] Change MAML Campaign Name to "Promote a Blog Post""
Currently, MAML seems to have hard coded campaign name `Beneficiary Business`.

Please change to `Da Vinci: Promote a Blog Post`

[2017-08-31 16:03] paagla123 commented on #51
Done. Also changed the word Click to Open in one place in the Open trigger email. Saved as v10 - @coa0329 please use this version moving forward - thank you.

[2017-08-31 16:04] paagla123 commented on #50
@daver78 ok

[2017-08-31 16:05] paagla123 commented on #47
Closing it for now.

[2017-08-31 16:05] #47 closed

[2017-08-31 16:30] paagla123 commented on #44
So this is working - I will close this issue

[2017-08-31 16:30] #44 closed

[2017-08-31 16:41] paagla123 commented on #43
@daver78 we will need to figure that out eventually. I am going to close this issue for now. I will open a new one for the domain issue.

[2017-08-31 16:41] #43 closed

[2017-08-31 16:42] paagla123 commented on #41
@coa0329 this is still not working correctly. I assume you did not get to it.

[2017-08-31 16:43] paagla123 commented on #40
RESOLVED! Yay!!!

[2017-08-31 16:43] #40 closed

[2017-08-31 16:46] paagla123 commented on #39
@paweenwich I am adding this back to Print17. Happened to me several times - possibly due to image size and/or internet speed. Let us try this together. It will be quite embarrassing if a prospect runs into it. I had several issues with images today - display related. When I saved it and reopened, worked fine.

[2017-08-31 16:48] paagla123 commented on #15
This is working fine now - closing it.

[2017-08-31 16:48] #15 closed

[2017-08-31 16:52] paagla123 opened #52 "Change Page Title from Main Template to daVinci - Digital Marketing Guru"
@daver78 Do you approve of this title or something else. We cannot have it called Main Template as we go into P17.

[2017-08-31 16:56] paagla123 opened #53 "Create Internal Domains for Blog Emails"
This domain will be used to host the online version of the emails as well as the unsubscribe landing page. Not required for P17, but we cannot go to production without this.

[2017-08-31 17:04] paagla123 opened #54 "Questions on Marketing Settings"
1) Use from name and from email from the settings tab.
2) We should use the internal domain from new issue#53 and put default values for unsubscribe and view online links. Remember, there's a separate link for each email, so it may be only the first part of the link followed by /email1.html etc.

![image](https://user-images.githubusercontent.com/29718335/29935293-15a28194-8e33-11e7-8f03-ebb81e602

[2017-08-31 17:06] paagla123 opened #55 "Self-sign up and Registration of users"
We will need a long term strategy of how to do this. It may go to the website Dave is creating. We need to start contributing to this. I suggest we start a Wiki on this topic and contribute.

[2017-08-31 17:36] paagla123 commented on #48
@paweenwich @coa0329 I have checked in the first version. Let us review in the morning and then we can hand off to @AumpaiFung

[2017-08-31 20:10] daver78 commented on #55
In the mini-website I'm creating there is a place to sign-up.  For now, I'm jeeping the site minimal so that we have enough for P17.

@paagla123 do we have the php for creating new users yet?  If not maybe we need an issue for that -- or is that what this is for?

[2017-08-31 20:12] daver78 commented on #53
@paagla123 What are you asking me to do?  I'm OK with whatever generic domain we come up with.

[2017-08-31 20:13] daver78 commented on #52
@paagla123 Hmmm, which page are you talking about?  Or, are you talking about the `<title>` tag that is on all pages?

[2017-08-31 22:16] daver78 commented on #46
@paweenwich See above what @paagla123.  Before I configure S3 to house the site (`index.html`), which is what @paagla123 told me to do this morning, I want to verify with you that this is what you meant.

Can you confirm?

S3 would be great, as it opens up a lot of power for us.  Let me know if I should proceed.

[2017-08-31 23:51] daver78 commented on #46
@paagla123 Here is the draft: `https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/DV-website/index.html`

@Mcfarsheed and @paagla123 this is mostly placeholder text.  That needs a lot of thought.  But overall direction is here.

[2017-09-01 01:41] paweenwich commented on #46
@daver78  Right now  dv.mindfireinc.com  point to web2xmm.com (the machine that we are working on).  We can provide the user/password (if you don't have one), so you can create index.html and doing thing yourself.  Or (as I told KD),  you can give us the URL to your site (can be S# or what ever) and I will create index.html which will redirect to that URL.

[2017-09-01 01:44] paweenwich commented on #52
@daver78 Yes, the <title> in all pages right now are "Main Template".  We just keep copying from your original mock up and did not have a change to change it.  :)

[2017-09-01 01:58] paweenwich commented on #29
@daver78 Right now, we can publish the MAML by convert MAML to manually craft T-MAML (MAML with {{xxxx}}) in side.   So, we can easily put data into {{xxxx}} and correctly publish.     To republish, the major problem is that we don't have {{xxxx}} to replace anymore.  When we checkout, we get real MAML.  So, we ask KD to name element in MAML to something that we can locate and change easily.  For

[2017-09-01 04:39] coa0329 commented on #41
@paagla123 Fixed.

[2017-09-01 04:58] coa0329 opened #56 "Template for trigger."
We will get the content of the trigger from S3. So Kushal can change it without changing the TMAML.

For Promoteblog
OpenAlertLeadTrigger :
https://s3-us-west-1.amazonaws.com/bkktest/template/promoteblog_clickalert.html
ClickAlertLeadTrigger :
https://s3-us-west-1.amazonaws.com/bkktest/template/promoteblog_openalert.html

For Ebook
OpenAlertLeadTrigger :
https://s3-us-west-1.amazonaws.com/bkktest/

[2017-09-01 05:28] paagla123 commented on #39
Here's the solution discussed and agreed upon:

Instead of allowing users to drag an image over to the email, we will provide a button in the middle of the hero image area. Users will be able to upload an image from their accessible drives using that button. The picture will always render in 100% mode initially - users should be able to change that.

[2017-09-01 05:29] #51 closed

[2017-09-01 05:31] coa0329 opened #57 "MISSING-TEXT-LINE-ACCTID-PROGRAMID-EMAIL2SUBJECT"
This should happen when you set schedule for email2 and email3 but you didn't set the content for them.

Solution :
We should not allow user to set schedule for email2 or email3 until they save the content of them.

[2017-09-01 05:35] paagla123 opened #58 "Call to Action Button in Blog Email"
The text on the CTA button cannot be changed as it goes to the link to the blog when clicked. To resolve this, the href will be saved only during publish or send test.

[2017-09-01 08:02] paagla123 opened #59 "Development Environment"
Currently the code is being kept on the server @ Digital River and is being backed up to github nightly. It is recommended that we use github for development and that individual deveopers use Cloud9 for their development and test environment (c9.io), @paweenwich to answer your question on where individual develper's database should be, we can get database containers from Docker - pl check out http

[2017-09-01 08:28] paagla123 opened #60 "daVinci Login Screen"
Please use the login screen Dave put together @ https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=login

[2017-09-01 09:24] paagla123 commented on #56
This is done for eBook as well. @coa0329  please use eBookPromo_MAML-v2 moving forward.

[2017-09-01 09:24] #56 closed

[2017-09-01 09:25] paagla123 commented on #55
Superseded by issue#60 - closed

[2017-09-01 09:25] #55 closed

[2017-09-01 09:27] paagla123 commented on #48
Created: eBookPromo_MAML-v2 @coa0329  @AumpaiFung  please use this MAML.

[2017-09-01 09:27] #48 closed

[2017-09-01 10:51] paagla123 opened #61 "Images not coming through in emails any more"
@jiewsone please check this was working before.

[2017-09-01 10:54] paagla123 commented on #30
Here's a complete list as on 6PM BKK time Fri 9/1:

#11 - Sync UI with Dave's daVinci
#29 - Update and republish
#34 - Promote eBook
#36 - Forms
#37 - Page builder
#39 - Image cleanup
#41 - Notifications and Alerts
#52 - Change page title
#57 - MISSING-TEXT-Line...
#58 - Call to action button
#60 - Login screen
#61 - Images not showing in email

#37 will be a stretch it seems. We need to be done b

[2017-09-01 14:17] javpowell commented on #30
Any of these specific to me I should put attention to?

[2017-09-01 14:30] paagla123 commented on #61
This is fixed. Closing

[2017-09-01 14:30] #61 closed

[2017-09-01 14:34] paagla123 opened #62 "My Campaigns display is NOT by most recent edited"
Its because the my campaign display (or the display of recent campaigns on home page) goes by the time on the user's local machine and does not account for the time zone. It should either account for the time zone or use soe sort of server timestamp. Se screenshot below. Mine was @ 726AM PST which is after 1802 BKK time, but went below because of not using time zone. Pl fix this.

![image](https:/

[2017-09-01 14:43] paagla123 opened #63 "No HREF in the CTA link in the PLAIN EMAIL (one without image)"

[2017-09-01 22:27] daver78 commented on #46
@paweenwich Here is the website endpoint where we will host the site: http://mindfiredavinci.s3-website-us-east-1.amazonaws.com/

I think your idea of redirecting to this URL is OK for now, but it is possible to point a domain to S3 directly: http://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html (take a read when you have a moment).

If you're curious, I syn

[2017-09-03 21:23] daver78 opened #64 "Summary of Dave's UI Love for 9/3/17"
All the following were made directly to "production."  Please backup before overwriting.

**Updates to welcome.php**:
- Updated jumbotron
- Updated little green “LIVE” indicators using ternary // e.g.: `{{item.status==‘Edit’ ? ‘LIVE’ : ‘DRAFT’}}`, but this is probably a hack.  We should address in the controller (not in the UI), right?
- Added a search feature
- Added a “Modified <moments ago>” fe

[2017-09-04 02:08] paweenwich commented on #64
Thank @daver78

[2017-09-04 02:09] daver78 commented on #64
@paweenwich You're welcome.  I left a question for you above in the change-log.  Can you let me know?

[2017-09-04 02:24] paweenwich commented on #64
the variable name for "username" is $email (the one that user login).  It is defined in logincredential.php along with a few others variable.    I did take are of that.

[2017-09-04 03:17] coa0329 commented on #53
@paagla123 @daver78 @paweenwich

We don't need the site for online version. We can save them on S3.

The current process, we will render the email, save it as html and upload it to S3 when user click save email.

We can save 2 html each time user click save  when user click save.
1 The html without view online in the content for view online. (We can use the same file name with suffix like _online

[2017-09-04 03:20] daver78 commented on #53
@coa0329 You can't use this technique because `https://s3-us-west-1.amazonaws.com/bkktest/tmp/TEXT-AREA-16916-a3fbe4d26d00539cc0200035408a5377-EMAIL1CONTENT.html` will not personalize variables like `##firstname##`.

This is why the Microsite is useful; we can use the HTML we've saved to S3 inside a Microsite page, which gains us personalization.

Does that make sense?

[2017-09-04 03:24] coa0329 commented on #53
ok. I got it.

[2017-09-04 10:08] coa0329 commented on #53
We save 2 versions of the html on S3. (with and without view online link)

We create the mircosite in the maml. We set the domain to davinci.m.mdl.io.
When user launch the program
1 We will automatically add sub domain to the microsite using _id from davinci. Example 583deefb2ba32388e98a4d82b4740faa

2 We will add the ##purl##, domain and emailX.html in the link in email content. Example http://##

[2017-09-04 10:15] paweenwich commented on #46
@daver78  index.html now redirect to  http://mindfiredavinci.s3-website-us-east-1.amazonaws.com/
So, https://web2xmm.com/ will redirect to the microsite site.

[2017-09-04 10:25] paweenwich commented on #64
@daver78 You need to make direct change at server for a while.  The main problem is couchDB.   because couchDB run on another port and we need to access it from Java script..   To avoid CORS (Cross site scripting)  we config apache to create virtual /couchdb to redirect to traffic to couchdb.  If codeanyway can do the same, then it would be much easier to setup.  if not we need to make php page to

[2017-09-04 10:32] paweenwich commented on #63
Done, (add href and view online)

[2017-09-04 11:05] paweenwich commented on #62
Done (By adding time zone (GMT) to lastEditDate field)   Previously, there is no time zone.

[2017-09-04 11:08] coa0329 opened #65 "Questions for ebook."
1 Schedule

How to set schedule for ebook ?

![103](https://user-images.githubusercontent.com/7914690/30023869-7f94beb2-919b-11e7-9938-aa30ce243360.JPG)

![102](https://user-images.githubusercontent.com/7914690/30023884-8d2163f0-919b-11e7-85d3-a65d77b02b9e.JPG)

For email1 we can set the number of days, hours or minutes user enter.

For email2 we can set the number of days. But how can we set hour

[2017-09-04 11:08] paweenwich commented on #58
Done.  (When edit I either remove href or change <a> to <aview> (tag that browser does not care)

[2017-09-04 11:12] jiewsone opened #66 "Where is the Template and config files for Blueprint Promote an eBook?"
Where are the Landing page and thank you page themplate files and the config files(Default Text)?

[2017-09-04 14:27] daver78 commented on #46
@paweenwich Thank you.

@paagla123 and @Mcfarsheed, I've intentionally kept the site simple to limit the amount of work we need to do -- but we should be intentional about our messaging.  I'll close this issue for now and open another one for messaging on the website.

[2017-09-04 14:27] #46 closed

[2017-09-04 14:29] daver78 commented on #64
@paweenwich I had a feeling it was something like this.  Did you try modifying apache on codeanywhere?  It should be possible.

If you tell me what to change, I will try it.

[2017-09-04 14:32] daver78 commented on #64
There are still a few open issues from my UI updates above:

* @paweenwich Thank you for `$email`.  I was looking for the user's first name and last name.  Do we store that anywhere?  If not, we will use `$email` for now.

* @paagla123 I commented out “Campaigns”; I don’t think we need it if they’re listed on the “Home” page. Agree, disagree

@paweenwich When I updated the little green “LIVE” indi

[2017-09-04 14:33] daver78 commented on #63
@paagla123 Will you test this and confirm it is OK per your wishes?

[2017-09-04 14:38] daver78 commented on #62
@paweenwich I have a feeling we need to edit the UI too.  As mentioned in my UI update note, I changed the UI to use `<time am-time-ago="item.lastEditDate">`.  I believe it uses the User's timezone, which is why I see:

![image](https://user-images.githubusercontent.com/7561473/30030786-b572cd6a-9143-11e7-9b67-be96c0c55c63.png)

And where did you add the timezone?  In DB I see this:

![image](http

[2017-09-04 14:39] daver78 commented on #58
@paagla123 Will you test and confirm?

[2017-09-04 14:41] daver78 commented on #53
@paagla123 Will you verify this?

[2017-09-04 14:47] paagla123 commented on #53
I will test

[2017-09-04 14:49] paagla123 commented on #58
I will test.

[2017-09-04 14:51] paagla123 commented on #63
I will test.
@paweenwich have you addressed the issue as in #58 (When edit I either remove href or change to (tag that browser does not care)?

[2017-09-04 14:58] paagla123 commented on #64
@daver78 I would personally prefer having Campaign in the left tab because of two reasons:
1) Its more intuitive for many users
2) Ideally Home should have only the most recently used N number of campaigns.
I also would recommend leaving the SEARCH on there - even if it does not work. Any objections to that?

[2017-09-04 15:03] paagla123 commented on #66
@jiewsone its in GitHub\Bhaang\httpdoc\daver\Blueprints\Promote-an-eBook. I will add the Thank You page as well.

[2017-09-04 15:03] daver78 commented on #64
@paagla123 OK, I can:

* make "Home" reflect the most recently modified 5 Campaigns.  Does that make sense to you?
* uncomment "Campaigns" from left-nav
* apply UI-love to "Campaigns" page

Regarding SEARCH at top of all pages, my rationale is mostly around demoing at Print 17.

No matter how many times we tell the involved team that certain things don't work, I know from experience that people wi

[2017-09-04 16:33] paagla123 commented on #66
@daver78 what is your vision on what happens when someone clicks on the email button? Is that just a mailto link with a link to the eBook? Remember, we still need to work on teh domain part.

[2017-09-04 16:38] paagla123 commented on #60
Hi @paweenwich , are we planning to put this into the login screen at davinci.mindfireinc.com? Thx

[2017-09-04 16:40] daver78 opened #67 "Summary of Dave's UI Love for 9/4/17"
**Updates to welcome.php**:
* Changed “Your Campaigns” table to `limitTo:3` per Kushal’s suggestion
* I don’t think “Search” in this table is relevant, so commented out for now
* Added button for “SEE ALL MY CAMPAIGNS” at bottom of table

**Updates to leftWrapper.php**:
* Uncommented “Campaigns”

**Updates to myCampaigns.php**
* Added search function that is non-case sensitive
* Applied style to b

[2017-09-04 16:45] daver78 commented on #60
@paagla123 and @paweenwich When you go to dv.mindfireinc.com, there is a link to login.  The login page should load using the above treatment.

Let me know when it is ready and I will link to it from the website.

[2017-09-04 16:49] paagla123 commented on #64
I was thinking the same thing about having placeholder features. We can hide them if you think it will keep things cleaner.

[2017-09-04 18:12] paagla123 commented on #60
Yes - but when you log in, its going to the wrong place. Going to https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=homePage , whereas it should go to http://davinci.mindfireinc.com/admin/welcome.php . Also @daver78 , we should add a select account drop down to the login screen - see the one from https://web2xmm.com/admin/login.html

[2017-09-04 18:16] paagla123 opened #68 "Promote an eBook Product Image"
It is using the wrong image - same as Email Blog. Should be:
![image](https://user-images.githubusercontent.com/29718335/30035773-5e3b5750-9162-11e7-9fac-803387713094.png

@jiewsone please get it from https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=pickAnObjective . Thanks

[2017-09-04 18:24] paagla123 commented on #65
@coa0329 I suggest we allow users to enter day, hour, minute for all emails. I also suggest that please change the schedule for the microsite in the MAML template and extend it to end in 2050. Thanks

[2017-09-04 18:25] #66 closed

[2017-09-04 18:32] paagla123 commented on #67
@daver78 I see a problem with editpromoteblog.php: the font has changed and the text wraps:
![image](https://user-images.githubusercontent.com/29718335/30036054-a5d6b616-9164-11e7-96f5-7b570275a3ee.png)

It used to be like this:
![image](https://user-images.githubusercontent.com/29718335/30036064-b5103274-9164-11e7-87f7-aa166112a39b.png)

[2017-09-04 19:15] paagla123 commented on #63
FIXED - Closing.

[2017-09-04 19:15] #63 closed

[2017-09-04 19:15] paagla123 commented on #62
FIXED Closing

[2017-09-04 19:15] #62 closed

[2017-09-04 19:16] paagla123 commented on #58
FIXED Closing

[2017-09-04 19:16] #58 closed

[2017-09-04 19:16] paagla123 commented on #52
FIXED Closing

[2017-09-04 19:16] #52 closed

[2017-09-04 19:17] paagla123 commented on #41
FIXED Closing

[2017-09-04 19:17] #41 closed

[2017-09-04 19:18] paagla123 commented on #29
@coa0329 @paweenwich what is the update on this. We have to have this done before the Trade Show. Thx

[2017-09-04 19:33] paagla123 opened #69 "editpromoteblog.php: the font has changed and the text wraps"
Please see detailed notes on issue#67

[2017-09-04 19:49] paagla123 opened #70 "myCampaigns.php now missing last modified time stamp"
It is present in the home page - should use the same code and style.

[2017-09-04 19:51] paagla123 opened #71 "html code shows up in the emails delivered using PLAIN template"
First of all, this problem exists only in emails SENT by Studio after Launch. SEND TEST emails for not have this problem.  Basically, the email shows up with html tags. Example below:
![image](https://user-images.githubusercontent.com/29718335/30037454-c0ff16c6-916f-11e7-93eb-7d280e3ddf9e.png)

[2017-09-04 20:26] daver78 commented on #67
@paagla123 Can you show me the entire screen?

[2017-09-04 20:32] daver78 commented on #67
@paagla123 Try it now.  I changed the `<div class="col-sm-3">` and `<div class="col-sm-9">`, instead of previous 2 and 10.

[2017-09-04 20:34] daver78 commented on #67
@paagla123 in myCampaigns, added `angular-moment` to page so that “last modified” works. Forgot that it wasn’t set globally.  See if you like this date format, otherwise, we can try a few others.

[2017-09-05 01:11] paweenwich commented on #67
@daver78 Do we need a button to bring back the 3 line view in "Your Campaigns"?

[2017-09-05 01:12] daver78 commented on #67
What do you mean? Can u give me a snapshot.

On Mon, Sep 4, 2017 at 6:11 PM paweenwich <notifications@github.com> wrote:

--
Sent from within an Apple iCar beta

[2017-09-05 01:25] paweenwich commented on #68
@paagla123  I think Dave fixed this one.  Now,
My Campaign show    "kwang1 (Promote a Blog Post)  Modified 15 hours ago "
Home page show "kwang1 (Promote a Blog Post) Modified 15 hours ago"

Or you mean something else?

[2017-09-05 01:28] paweenwich commented on #69
@paagla123 I think Dave also fixed this one.

[2017-09-05 01:55] paweenwich commented on #64
@daver78  Basically, we need to add these
   ProxyPass /couchdb http://www.web2xmm.com:5984/
   ProxyPassReverse /couchdb http://www.web2xmm.com:5984/

I think, I need a root to modify the apache2.  If you can do that it will help a lot.  :)

[2017-09-05 02:04] paweenwich commented on #64
@daver78  I will create an issue on user's firstname lastname.

[2017-09-05 02:05] paweenwich opened #72 "show user's firstname on topwrapper"
Right now it show login email, should be user's firstname lastname instead.

[2017-09-05 02:12] paweenwich commented on #67
@daver78 I mean, right now home page will show only 3 campaigns.   In that page you create button "SEE ALL MY CAMPAIGNS".   After click this button, all campaigns are shown.    My question is, while all campaigns are shown, should we have a button something like "SEE MY RECENT 3 CAMPAIGNS" to bring back the 3 campaigns view mode?

[2017-09-05 02:40] daver78 commented on #64
@paweenwich OK, I created a `dave.conf` in `/etc/apache2/sites-available` which contains:

[code]

... but this page [](http://da-vinci-core-daver438618.codeanyapp.com/html/admin/login.html) still doesn't work.  I'll continue to debug, but let me know if you see anything fishy with what I pasted above.

[2017-09-05 02:41] daver78 commented on #64
@paweenwich By the way, if you want to access my machine on codeanywhere, you can do `sudo su -` and will get `root`.

[2017-09-05 02:53] paweenwich commented on #70
I think Dave fixed this one.

[2017-09-05 02:54] coa0329 commented on #71
Fixed.

[2017-09-05 03:30] coa0329 commented on #53
@paagla123 @daver78 Please Verify, Are you ok with this solution ?

[2017-09-05 04:05] coa0329 commented on #57
![104](https://user-images.githubusercontent.com/7914690/30044731-6b4bc35e-9229-11e7-827b-7c87628e6c61.JPG)

We will hide schedule for Email2 and Email3 in step3, if user didn't set the content of Email2 and Email3 in step2

[2017-09-05 04:06] coa0329 commented on #57
![106](https://user-images.githubusercontent.com/7914690/30044838-239434d2-922a-11e7-8733-153b1afbfa0d.JPG)

Question :
If user set the content of Email2 and Email3 but he doesn't set time in schedule. Should we set only days to their schedule ?

[2017-09-05 04:21] paagla123 commented on #70
Fixed - Closing

[2017-09-05 04:21] #70 closed

[2017-09-05 04:21] paagla123 commented on #69
Fixed closing

[2017-09-05 04:21] #69 closed

[2017-09-05 04:36] jiewsone commented on #68
From #64 , I guess Dave have upload incorrect image to S3.
Here is the Promote an eBook image src in code "https://s3.amazonaws.com/mindfiredavinci/img/ebook_blueprint.jpg".

Could you or Dave please upload the correct image to S3?
Because I cannot see mindfiredavinci bucket on S3.

[2017-09-05 04:44] jiewsone commented on #68
The Promote a Blog's image src still not use S3.
Here is the current image src in code
"<img src="http://www.solostream.com/wp-content/uploads/2016/08/wordpress-custom-post-types.jpg" class="img-responsive" />"

Please upload the image and send me the S3 link, I will change the code.

[2017-09-05 04:48] coa0329 commented on #68
Please grant the permission for us to access mindfiredavinci bucket.

sithiporn@mindfireinc.com
boonsom@mindfireis.com
aumpai@mindfiremail.info

[2017-09-05 04:49] paagla123 commented on #71
Fixed closed

[2017-09-05 04:49] #71 closed

[2017-09-05 04:53] paagla123 commented on #68
Here's the link to the correct image. You can download it from this location and upload to S3.
https://cdn.elegantthemes.com/blog/wp-content/uploads/2016/01/WordPress-eBooks-FT-shutterstock_298676606-adichrisworo.png

[2017-09-05 04:57] paagla123 commented on #67
Users should be able to click on the Home button to get to that view - no?

[2017-09-05 04:59] paagla123 commented on #30
OPEN from BEFORE
#11 - Sync UI with Dave's daVinci: @paweenwich @daver78 - any update here?
#29 - Update and republish: @paweenwich @coa0329 - please provide update.
#34 - Promote eBook: @jiewsone please provide update
#36 - Forms - @AumpaiFung pl provide status
#37 - Page builder
#39 - Image cleanup: @paweenwich @coa0329 Any update here?
#57 - MISSING-TEXT-Line... - @coa0329 status update please

[2017-09-05 05:11] coa0329 commented on #57
If user doesn't set time for email1 we will use the current time for email1 when user publish.
If user set schedule for email2 and email3 but he doesn't set time we will use time from email1.

[2017-09-05 06:42] coa0329 commented on #65
@paagla123 I extend the rime to 2050

[2017-09-05 06:43] coa0329 commented on #72
Fixed.
We use GetUser api.

[2017-09-05 06:54] coa0329 commented on #60
Done.

Only the login part works.

[2017-09-05 07:10] paweenwich commented on #13
Show ErrorCode and ErrorMessage now

[2017-09-05 08:54] jiewsone commented on #39
Please see the Promote a Blog's Email#1 page.
I have insert "Upload image to email" button on this page.
If it's OK, we will add this button to all email.

[2017-09-05 08:58] coa0329 commented on #68
Fixed

[2017-09-05 09:20] coa0329 commented on #53
We cannot use the same domain for both account. We must add the account id to it.
The domain for campaignlauncher will be davinci228.m.mdl.io
The domain for davin ci will be davinci16916.m.mdl.io

[2017-09-05 09:21] coa0329 commented on #57
Fixed hide schedule for email2 and email3 until user save them.

Working on setting the time.

[2017-09-05 10:16] coa0329 commented on #29
Fixed
You can launch the campaign then re-launch it.

Promote a Blog Post
- Set up new email, Change email
- Change schedule

Working on select audience.

[2017-09-05 10:44] paweenwich commented on #64
@daver78 I am not sure that the ProxyPass work.  Because if it work when we use /couchdb  it  access to couchdb.  For example,  https://www.web2xmm.com/couchdb/db228  will return you json something.  However,  http://da-vinci-core-daver438618.codeanyapp.com/couchdb or http://da-vinci-core-daver438618.codeanyapp.com/html/couchdb or daver438618.codeanyapp.com/html/admin/couchdb  all return error (no

[2017-09-05 10:58] AumpaiFung commented on #36
Updated task:
- Form Library Page [Done]
- Form Builder Page (with textbox ONLY)
     - Create New Form [Done]
     - Edit New Form [Done]
     - Save HTML of form to DB [Done]

[2017-09-05 11:00] jiewsone commented on #34
I have create all page of this blueprint. We can create/edit campaign, save all steps data to database except step 2 "Set Up Your Landing Page".

[2017-09-05 15:04] daver78 opened #73 "Summary of UI changes on 9/5/17"
**login.html**
- Optimized background image and put it on S3
- Made "Download Now" button go to actual ebook
- Added `<link rel="icon" href="https://s3.amazonaws.com/mindfiredavinci/img/DV-logo.png" type="image/x-icon" />`

**pickBlueprint.php**
- Thanks for putting the eBook image at S3.  I corrected my mistake and put it with the other images on S3

**header.php**
- Added Google Tag Manager tag

[2017-09-05 16:55] daver78 commented on #69
@paagla123 and @paweenwich  We need to apply the same treatment to "Promote an eBook".  Who should this be assigned to?

[2017-09-05 16:56] daver78 commented on #67
@paweenwich I think clicking on "Home" button like @paagla123 says makes sense to me, but we will observe Users and see if they get stuck in this area.  If so we'll try your suggestion.

[2017-09-05 16:56] #67 closed

[2017-09-05 16:57] daver78 commented on #30
@paagla123 regarding #11, I think you should close that Issue.  I will continue to do love to the UI, and if there is something specific the team needs to do, we will create an Issue for it.  Do you and @paweenwich agree with this approach?

[2017-09-05 16:58] daver78 commented on #72
Verified fixed.  Closing.

[2017-09-05 16:58] #72 closed

[2017-09-05 17:00] daver78 commented on #60
@paagla123 I confirm the login page is there and I can access it from dv.mindfireinc.com.

However, I did not check "forgot password".  Can you check that?  I wonder about the branding and messaging in the email, etc.

[2017-09-05 17:01] daver78 commented on #39
Thank you @jiewsone .  @paagla123 Will test this and confirm.  As for the UI of the button and surrounding area, I will put that on my list and take care of it in the next few days.

@paagla123 can you create me an Issue for this once you're DONE with the review of this issue?

[2017-09-05 17:02] daver78 commented on #68
@paagla123 This was my bad.  I see the fix that @coa0329 did and I updated it to point to the same location on S3 that the other images are at.

[2017-09-05 17:02] #68 closed

[2017-09-05 17:02] daver78 commented on #53
@coa0329 This makes sense to me.  @paagla123 Do you agree?

[2017-09-05 17:04] daver78 commented on #64
@paweenwich OK, that makes sense.  I will likely not be able to get into this today.

However, did you check Docker?  I suggested to @paagla123 that you become familiar with Docker, as I believe if we "dockerize" Da Vinci, these problems (and more) will evaporate.

I think it would be a good idea to speed up development and eventually, to make deployment very easy and stress-free.

[2017-09-05 17:05] daver78 commented on #36
Thank you @AumpaiFung.  @paagla123 Will check today.

[2017-09-05 17:06] daver78 opened #74 "Consider "dockerizing" Da Vinci"
See [https://www.docker.com/what-docker](https://www.docker.com/what-docker) and related documentation.  I believe we should institute this fairly soon.  Can you read it and see what you think?

[2017-09-05 17:09] daver78 commented on #19
@paagla123 I'm going to close this one and let you open subsequent Issues based on your review of @AumpaiFung's work.

[2017-09-05 17:09] #19 closed

[2017-09-05 17:09] daver78 commented on #34
@paagla123 Shall we close this one and create new Issue(s) for specific items?

[2017-09-05 17:10] daver78 commented on #37
@paagla123 Doubtful I will do anything here in the next 2 days.  Shall we push this into next milestone?

[2017-09-05 17:10] daver78 commented on #49
Closed for now.  I have access.

[2017-09-05 17:10] #49 closed

[2017-09-05 17:11] daver78 commented on #64
Closing for now.  Comment for @paweenwich in issue #74.

[2017-09-05 17:11] #64 closed

[2017-09-05 17:11] daver78 commented on #59
@paagla123 and @paweenwich Oops, I didn't see this issue.  I created #74 for Docker.

[2017-09-05 17:11] #59 closed

[2017-09-05 17:12] daver78 commented on #50
Closing.

[2017-09-05 17:12] #50 closed

[2017-09-05 17:13] daver78 commented on #11
@paagla123 and @paweenwich We will close this.  Either I or @paagla123 will create specific issues that the team should work on, if required.

[2017-09-05 17:13] #11 closed

[2017-09-05 19:42] paagla123 commented on #60
The login screen works thank you.
@coa0329 we need to adjust a couple of things.
1) The drop down for the accounts should be sorted by account name.
2) Once logged in, please redirect to http://davinci.mindfireinc.com/admin/welcome.php (no SSL - pl NOTE) instead of https://web2xmm.com/admin/welcome.php
3) Forgot password provides a nice pop-up - but I did not get any email. No need to change this

[2017-09-05 19:54] paagla123 commented on #39
@jiewsone this is good - please go ahead and roll it out for all emails. Thanks

[2017-09-05 19:55] paagla123 opened #75 "[Promote a Blog Post] Give love to Edit Email UI"

[2017-09-05 20:19] paagla123 commented on #29
Working well so far - been able to add 3rd email after publishing the first two. Will test more before closing.

[2017-09-05 21:47] daver78 opened #76 "Where can I edit each Blueprint's default content?"
I would like to update the default text.  Where is it located?  I have not looked in detail.

[2017-09-05 21:47] daver78 opened #77 "[Promote a Blog Post] Give love to the "Company Email" Template"

[2017-09-05 21:47] daver78 opened #78 "[Promote a Blog Post] Fix Email #1 default content"

[2017-09-05 21:47] daver78 opened #79 "[Promote a Blog Post] Fix pop-up for adding yourself as seed"

[2017-09-05 23:34] daver78 opened #80 "Where can I edit the Emails and Landing Page (Welcome, Thank-you) Templates?"
@paweenwich I haven't searched, so would you kindly advise the location of the templates (or the various locations if they're in different places)?

I will want to make some updates to them over the next 2 days.

[2017-09-06 02:05] paagla123 commented on #34
@jiewsone I see lots of issues:
1) Section on configure eBook or configure email do not complete saving - the SAVE button just keep circling.
2) Landing pages not set up yet
3) Schedule for second email should be similar to first email - Day/Hours/Minutes off from download.

[2017-09-06 02:06] paagla123 commented on #65
I am closing it - same issue described in #34

[2017-09-06 02:06] #65 closed

[2017-09-06 02:11] paagla123 commented on #34
@jiewsone @coa0329 several problems please.
1) Whether I upload a PDF or choose a link to eBook, the "Configure your ebook" section does not SAVE - cursor just spins and saving is never completed)
2) Schedule for second email should be similar to first - day/hour/minute delay

[2017-09-06 02:34] paagla123 commented on #36
@AumpaiFung very good start. Please note the following changes:
1) Please make State and Country drop down fields. The list is available at GitHub\Bhaang\httpdoc\State_and_Country.html .
2) You missed zip in all the form fields. Every one of them should have zip.
3) I have updated the Google Doc pl see.
4) Pl make sure you have form tags, method=post and submit button in the htmls

[2017-09-06 02:35] paagla123 commented on #29
Working well. Closing. Will open new issues if something comes up.

[2017-09-06 02:46] paweenwich commented on #80
@daver78 /admin/templates contains all the templates that will be used.  For example, emails contains emails templates.  Right now, we have only 2 of them, "COMPANY-EMAIL.html" and "PLAIN-EMAIL".html.  The json in DB at /master/templates contain necessary information  about blueprint and templates that available.

  "blueprints": [
       {
           "campaignType": "eNewsLetters",
           "te

[2017-09-06 02:52] paweenwich commented on #76
@daver78  For the default value, we keep in db at /master/Default_PromoteBlog

http://web2xmm.com:5984/_utils/document.html?master/Default_PromoteBlog

For blueprint info

http://web2xmm.com:5984/_utils/document.html?master/templates

[2017-09-06 03:00] paagla123 commented on #37
@daver78 OK done.

[2017-09-06 03:00] paweenwich opened #81 "Make Dave's codeanywhere DV development platform work"
@daver78 Let discuss the topic here :)

[2017-09-06 03:06] daver78 commented on #29
@paagla123 You're 100% clear how this is working and can explain it to me tomorrow?  (For purposes of what we should do in the UI)

[2017-09-06 03:09] daver78 commented on #80
@paweenwich I will study your notes re: the syntax in the emails tomorrow.

If you think it is better for me to work on the emails is by adding templates instead of editing the two existing, then please proceed with a copy of both the PLAIN and COMPANY.  I'll make those look the way we want and then we can eliminate the first two copies.

Is that OK for you?

[2017-09-06 03:11] daver78 commented on #76
@paweenwich Makes sense.  If I edit the info in the `JSON`, and click "SAVE" -- that's all I need to do, correct?

Is it possible that anyone else will overwrite me?  Should I keep a copy of the `JSON` once I've modified it, just in case?

[2017-09-06 03:12] daver78 commented on #81
@paweenwich Excellent.  Here and ready to help! :)

[2017-09-06 04:16] coa0329 commented on #60
1 The drop down for the accounts should be sorted by account name.
- Fixed

2 Once logged in, please redirect to http://davinci.mindfireinc.com/admin/welcome.php (no SSL - pl NOTE) instead of https://web2xmm.com/admin/welcome.php
- You must login from http://davinci.mindfireinc.com/admin/login.html

3 Forgot password provides a nice pop-up - but I did not get any email. No need to change this one

[2017-09-06 04:18] paagla123 commented on #29
@paweenwich working on contact filters and others related to republish.

[2017-09-06 04:29] paweenwich commented on #80
Yes.  I create 4 templates for you, COMPANY-EMAIL-D#.html, PLAIN-EMAIL-D#.html.   It already shows up in UI.  So, you can modify the those templates as you like.    Release remember, we load add template once when the page (editBlocgpost.php)  load.  So, you need to refresh the page to get the new content you update.

[2017-09-06 05:38] coa0329 commented on #29
Fixed

Promote a Blog Post
- Choose Your Audience
- Open my Emails
- Visit my Blog Post

[2017-09-06 08:02] paweenwich opened #82 "Google Tag manager cause javascript error"
@daver78
For example, on editPromoteBlog.php

new error show up in console

"Unable to set property 'value' of undefined or null reference"

I think it case by these script in header.php

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

[2017-09-06 08:05] AumpaiFung commented on #82
About error:
![1504684465177](https://user-images.githubusercontent.com/30495097/30100949-c49fe0ac-9314-11e7-8d59-d1e38d77f824.jpg)

[2017-09-06 08:22] paweenwich commented on #81
I can not access codeanywhere.com all day long (Page can not display).  I can get the login screen, but when try to open Edit to it fail.  Will try again tomorrow.

[2017-09-06 09:02] paweenwich commented on #74
I am asked Chay to help us to Docker the Davinci.   He is working on that.   Right now, it is on the same state as codeanywhere  (working on configure the /couchdb to point to remote database).

[2017-09-06 09:24] coa0329 commented on #57
![111](https://user-images.githubusercontent.com/7914690/30104438-cfae69cc-931f-11e7-85bb-1461a24e6a9d.JPG)

We will show the popup if user doesn't enter date, time or timezone.

[2017-09-06 09:27] coa0329 commented on #57
![112](https://user-images.githubusercontent.com/7914690/30104578-3d718ade-9320-11e7-8292-7338f0932efc.JPG)

We will show this popup if user set the PAST time in the schedule.

[2017-09-06 09:51] jiewsone opened #83 "Dave, I need some help about CSS"
Here is the page before load Landing Page Template.
![screen-before-loadtemplate](https://user-images.githubusercontent.com/30495168/30105219-28cb04dc-9322-11e7-894b-10dddcc0c555.JPG)

Then, we select template, CSS is broken.
![screen-after-loadtemplate](https://user-images.githubusercontent.com/30495168/30105376-9692694c-9322-11e7-82f9-e4a44fbdd289.JPG)

But in Dave mock up, everything look perfe

[2017-09-06 12:33] jiewsone commented on #39
I already add the upload button on all email page.

@paagla123  About bug your campaign not show in home page. I already fix it. Please try again.

[2017-09-06 15:31] daver78 commented on #60
@coa0329 I think there is an action here for me to make the website's login page point to `http://davinci.mindfireinc.com/admin/login.html`.  I will create myself a task and do it.

[2017-09-06 15:32] daver78 opened #84 "[Website] Change log in button to point to http://davinci.mindfireinc.com/admin/login.html"

[2017-09-06 15:32] daver78 commented on #80
@paweenwich Thank you.  Will do and close this issue.

[2017-09-06 15:32] #80 closed

[2017-09-06 15:43] daver78 commented on #81
@paweenwich Hmmm, that's odd.  Let me know what happens when you try again.

I also believe you can get the docker container for their app and run it locally.  I know you can do that for c9.io if I'm not mistaken.

[2017-09-06 15:44] daver78 commented on #74
@paweenwich Do you want to invite him to participate in the discussion here?  I think @coa0329 can add him.

However, when you say the current issue is pointing to the remote database, that shouldn't be a problem if you include the database within the docker container.

In other words, when our developers get the container and run it on their dev machines, it should contain *everything* they need,

[2017-09-06 15:45] daver78 commented on #57
@paagla123 Will test and verify this?  I will create a separate issue to give the pop-ups some love.

[2017-09-06 15:47] daver78 opened #85 "Add angular-moment to Forms page"

[2017-09-06 15:48] daver78 opened #86 "[Audiences] Give UI some love"

[2017-09-06 15:49] daver78 opened #87 "[Promote a Blog Post] Get clear on how initial Publish and subsequent check-out/in are working"
@paagla123 let's open this issue to document exactly what we're doing and how we need to change it, if at all.

I won't do anything to the UI in this regard until we're 100% clear on what we're doing.

[2017-09-06 15:50] daver78 opened #88 "[Promote an eBook] Remove need for User to Publish"
@paagla123 I opened this one for you to discuss w/ @paweenwich

[2017-09-06 15:50] daver78 opened #89 "[Promote a Blog Post] Give UI love to schedule pop-up messages"

[2017-09-06 16:14] daver78 commented on #84
@paagla123 Can you verify:

1- Go to [dv.mindfireinc.com](dv.mindfireinc.com)
2- Click "Log in" in upper right
3- See page.  Does it give you a note about the connection not being secure, so be careful what you enter into the fields?  I see it in Firefox but not Chrome.

[2017-09-06 17:41] daver78 opened #90 "Summary of Misc. UI love 9/6/2017"
**welcome.php**
- Commented out “COPY” for now since it is not available.
- In campaign list, made entire row clickable with `ng-click` for easy and quick access, which included updating `header.php` with CSS:
[code]
- Updated "Refer Friends" link to show coming soon message

**myCampaigns.php**
- Same changes as to `welcome.php`
- Added `<i class="fa fa-paper-plane-o" style="color:orange"></i>` t

[2017-09-06 18:02] daver78 opened #91 "[Forms] {{item.fieldLists.length}} & {{item.allFieldName}}"
@AumpaiFung, Perhaps you're not done with this section, but I notice that:

-  `{{item.fieldLists.length}}` doesn't seem to always match with the # of fields (example below shows 3 fields when in fact there are 4); and

- `{{item.allFieldName}}` we would like this to display like "Field, Field, Field" (with a space after the coma)

![image](https://user-images.githubusercontent.com/7561473/3012712

[2017-09-06 18:08] #84 closed

[2017-09-06 18:26] daver78 commented on #78
[code]

[2017-09-06 20:01] daver78 commented on #77
Updates made today:

- @paweenwich Can you please replace `COMPANY-EMAIL.html` with `COMPANY-EMAIL-D1.html `?  I can easily do it but thought you may want to?

- @paweenwich Where do I set the “View online Message” default content?  When does that get set?  I would like it to be:
`"defViewOnline": "Email not displaying correctly? View it in your browser."`

- Centered hero image, made default hero

[2017-09-06 20:11] daver78 opened #92 "[Promote a Blog Post] Give love to the "Plain Email" Template"

[2017-09-06 20:21] daver78 commented on #77
@paweenwich I notice that PLAIN email has `href="[[REMOVE {{RAW URL-BLOG-POST-URL}}?{{RAW URL-BLOG-POST-UTM}}]]"` while COMPANY is missing `{{RAW URL-BLOG-POST-UTM}}`

Is this an oversight, or intentional?

[2017-09-06 20:33] daver78 commented on #92
- Removed “View online” since I want this template to look handwritten
- Made a few small changes
- @paweenwich Can you please replace `PLAIN-EMAIL.html` with `PLAIN-EMAIL-D1.html`?
- @paweenwich Can you also remove (or comment out) the other templates and just leave the updated PLAIN and COMPANY

[2017-09-06 23:46] daver78 commented on #75
@paweenwich, I updated `editPromoteBlog.php` as follows.  Can you tag the person who is working in this area so that they know?

- Used `angular-chosen` ([http://leocaseiro.github.io/angular-chosen/#ngoptions-and-ngmodel](http://leocaseiro.github.io/angular-chosen/#ngoptions-and-ngmodel)) to try and give a little extra love to UI
- Applied `angular-chosen` to FROM, TEMPLATE, and SEND TEST.  If I b

[2017-09-06 23:48] daver78 commented on #75
@paagla123 If you and @paweenwich are OK with the love applied to Email #1, the same changes need to be applied to Email #2, #3, and so on.  Before we do that let's make sure we are OK with it.

[2017-09-06 23:54] daver78 commented on #83
@jiewsone Happy to help.  I don't believe I ever had that exact problem, but similar things have happened to me elsewhere.  Usually, it is because I'm missing a closing <`div>` (or have too many `<div>`).

Have you checked all parts of your HTML to ensure they're valid?

(PS: I have used various online tools to do this but I usually resort to checking opening and closing tags manually to figure ou

[2017-09-06 23:57] daver78 commented on #78
@paweenwich I realize now that couchDB has revision history so there's no need for me to show you the `json` in case it gets overwritten, correct?

[2017-09-07 01:37] paweenwich commented on #30
I think we should close #11.   Dave already takes over this one.

[2017-09-07 01:45] paweenwich commented on #76
Yes, that all you need, click "SAVE".  However, according to my understanding, basically, all documents in couchDB have revision number "_rev".  You can update the document if and only if the document contain current _rev value.    For example, suppose right now _rev = 12-xxxx.    You and I open document at the same time.   We both get _rev=12-xxxx in our document .  If you do "Save document" firs

[2017-09-07 02:01] paweenwich commented on #74
@daver78 I see your point.   Yes, isolation always better.   However, this is first time we just play with the Docker.  And just learn that it differs from VMware.   So, less configuration is easier.   I think we can live with shared database for a while.   Right now, we have solved the database problem and working on a new problem (missing php module).

[2017-09-07 03:27] paweenwich commented on #81
@daver78 I can access today.   I think yesterday, something wrong with their service.   Anyway, right now Davinci in codeanyway is working (I  tested a  couple pages).     Here are what I did.

1) dave.conf
-correct DocumentRoot "/home/cabox/workspace/html"
-correct typing error on ProxyReverse

2) disabled the 000-default.

3) change php reporting for apache2 (/etc/php5/apache2/php.ini) from
erro

[2017-09-07 03:37] daver78 commented on #81
@paweenwich Excellent.  I will try codeanywhere either tonight or early tomorrow and let you know how it goes.

But in terms of pushing at certain times, do we need to do that?  Here's what I'm thinking:

1- If every developer (including me) is checking out the latest code at the start of their day, and then checks in as they complete work or at the end of their day, GIT should remain updated.

2-

[2017-09-07 03:38] daver78 commented on #76
@paweenwich OK that makes sense.  I'm going to close this issue now.

[2017-09-07 03:38] #76 closed

[2017-09-07 03:41] daver78 commented on #74
@paweenwich Yes, it is very powerful, and is different than VM.  For example, with Studio, we have dockerized portions which means that any developer can get the subsystem up and running on their computer without delay -- regardless of their machine type (PC, Mac) and OS.  It's *beautiful*.

That said, I agree we can live with the shared database right now.  Will you still have Chay look into Dock

[2017-09-07 03:58] paweenwich commented on #92
Done.
(Replace PLAN-EMAIL and COMPANY-EMAIL with D1 version and disable D# template from the list)

[2017-09-07 04:06] paweenwich commented on #88
My concern
1) If we remove the publish button.  When we will do first publish.  Most obvious answer would be "when user click 'save'".   Then what if MAML need some important information to fill in in order to be able to publish and user not fill that in yet.

2) You might notice that publish and re-publish will take a while,  while "save' is almost instant.  I think this will effect the responsiv

[2017-09-07 04:53] daver78 commented on #88
@paagla123 is going to speak to you about this further at some point, but in the meantime, @paweenwich here are my thoughts:

1. "If we remove the publish button, when will we do the first publish?": I would do it when the User launches their program (after giving it a name).  In my POC, this is when I did, and I don't see any reason why we can't do this.  Did you run into an issue with this appro

[2017-09-07 05:11] jiewsone opened #93 "[My Campaigns] The sorting is incorrect"
We have sort campaign by field "lastEditDate", but it's sort by String in that field.
Ex.
{campaignName:'cp1',lastEditDate:'Wed, 06 Sep 2017 04:40:42 GMT'}
{campaignName:'cp2',lastEditDate:'Thu, 07 Sep 2017 04:02:59 GMT'}
{campaignName:'cp3',lastEditDate:'Tue, 05 Sep 2017 07:19:37 GMT'}

The correct should be
{campaignName:'cp2',lastEditDate:'Thu, 07 Sep 2017 04:02:59 GMT'}
{campaignName:'cp1',las

[2017-09-07 07:41] paweenwich commented on #93
Done.

change data in couchDB into ISO 8601 format.
Ex  2017-08-29T16:20:16Z

[2017-09-07 10:00] AumpaiFung commented on #91
@daver78
I fixed it.

[2017-09-07 10:03] AumpaiFung commented on #36
@paagla123
1. State & Country dropdown is done.
2. Done.
3. On process.
4. Done.
5. Done.
6. Done.

[2017-09-07 10:08] AumpaiFung commented on #36
@paagla123
Question:
What is submission?  On Form Library List page.

[2017-09-07 10:17] paweenwich commented on #88
After discuss with Coa,  the first publish part is fine.   We will try that.

[2017-09-07 10:39] paweenwich commented on #81
Git thing is new to me.  So, I am worry about code merging.  We (Thai developer) tend to edit the same file all the time.  I just afraid that we might lost some works during code merging.

Anyway, we agree with your suggestion.

[2017-09-07 15:34] daver78 commented on #93
@paagla123 will you verify this fix before we close?

@paweenwich so I'm clear, the couchDB timestamp is based on any change the User has made in the Da Vinci UI, not a change that was published to Studio.  Correct?

[2017-09-07 15:38] daver78 commented on #91
@AumpaiFung OK, I assume this only works for newly created forms and/or those that are edited post your fix?

Also, I notice that the field label for custom fields doesn't show up in the list.  Are you still working on this?

![image](https://user-images.githubusercontent.com/7561473/30171849-e5b3362a-93a7-11e7-825f-2f7551b72b15.png)

![image](https://user-images.githubusercontent.com/7561473/3017

[2017-09-07 15:43] daver78 commented on #36
@AumpaiFung For marketers, it is important to know how well a form converts.  By convert, we mean the following:

**Form A** has received 100 visitors, and 5 have submitted the form.  That's a 5% conversion rate.

**Form B** has received 100 visitors, and 40 have submitted the form.  That's a 40% conversion rate, which is statistically significant.  The marketer would likely chose to use Form B go

[2017-09-07 15:44] daver78 commented on #88
@paweenwich OK.  Are we applying the "first publish at time of campaign creation" technique to both Blueprints, or just one?

Are you saying we will also try to checkout-in when User hits "SAVE" buttons?

[2017-09-07 15:47] daver78 commented on #81
@paweenwich regarding code merging, this is what GIT is great at doing.

There are documentation/tutorial on GIT site that you can read about how it works.

Another way to experience it is do a simple test: You pull the repo, edit `test.php`.  Have Coa pull the repo, and also edit `test.php`.  Both of you commit your changes, and push.  You'll see how it handles the merge.

We can also use pull re

[2017-09-07 15:54] daver78 commented on #81
@paweenwich and @paagla123, regarding the question posed in last night's chat:

![image](https://user-images.githubusercontent.com/7561473/30172437-acc7a98e-93a9-11e7-8d09-eb44b65346de.png)

Yes, you can use my credentials to codeanywhere, but I suggest something different: Each person who is going to contribute this project should create their own account.  You can see the very competitive pricin

[2017-09-07 16:18] daver78 commented on #81
@paweenwich and @paagla123 This seems to be working!  The code is running on my dev machine at this URL: [http://da-vinci-core-daver438618.codeanyapp.com/admin/](http://da-vinci-core-daver438618.codeanyapp.com/admin/)

[2017-09-07 16:28] daver78 opened #94 "Make short PPT for Print 17 Team"
We need something visual to get everyone on the same page as to the DV value-prop, and how it fits into the MindFire ecosystem.  I'll do a short and concise PPT for everyone.

My intention is to lead with "what's the problem?" and then show the four parts of the MF planetary system, who each part is good for (and why), and basic pricing.

Should rock.

@Mcfarsheed Just adding you as FYI.

[2017-09-07 16:41] daver78 commented on #93
@paagla123 and @paweenwich I'm not sure this is working anymore.  I haven't had time to dig into it.  Previously, it seemed to be OK but with whatever we changed here, the behavior doesn't seem right (that is, I make an edit, and expect to see my Campaign at the top of the list now; however, it shows up as edited 12 hours ago or more).

Am I missing something?

[2017-09-07 17:01] daver78 commented on #92
@paweenwich confirmed.  @paagla123 I'm closing this for now; any issues you find, please open a new Issue.

[2017-09-07 17:01] #92 closed

[2017-09-07 17:01] daver78 commented on #78
@paweenwich I'm closing this for now.  @paagla123 if you find issues, please open a new Issue.

[2017-09-07 17:01] #78 closed

[2017-09-07 17:02] daver78 commented on #75
@paagla123 and @paweenwich Did you discuss this?  We need to apply the treatment I did to Email #1 to the rest.  Would prefer the team do this for me if possible.

[2017-09-07 17:03] daver78 commented on #77
@paweenwich and @paagla123, there are two open questions for you above (View online message for Kwang, and "Send Test" for Kushal).

[2017-09-07 17:29] Mcfarsheed commented on #94
Awesome! Let me know if you want me to look over when complete or if
there's anything I can do to help!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Thu, Sep 7, 2017 at 11:28 AM, daver78 <notifications@github.com> wrote:

[2017-09-07 17:55] daver78 commented on #79
@paagla123 done for now.  After @paweenwich  pulls to the server you can see this and open a new issue for any adjustments.  I'll close for now.

[2017-09-07 20:21] daver78 commented on #86
First page OK for now:

![image](https://user-images.githubusercontent.com/7561473/30183464-65373ad2-93cf-11e7-999b-150d99df6645.png)

[2017-09-07 23:08] daver78 commented on #86
Add segment is OK now but should be re-tested by @paagla123:

![image](https://user-images.githubusercontent.com/7561473/30189064-c5c35d74-93e6-11e7-8fd8-32245e6036d5.png)

[2017-09-07 23:12] daver78 commented on #86
@coa0329 Few things needed here:

- Sometimes when I hit Save, it spins and spins.  Did I break something?  Other times it is fine.

- Can you apply the same look-and-feel to the `editContactAudience.html` view?

[2017-09-07 23:17] daver78 opened #95 "[Audiences] Apply UI love to importContact.php"

[2017-09-07 23:26] daver78 commented on #95
@paagla123 and @paweenwich Given that tomorrow I need to get back to "normal" work, I doubt I will be able to give love to those portion of the UI.

@paagla123 what do you recommend?  We can tell the team not to go there, or caveat it and say it's a work in progress -- or maybe @coa0329 can give it love to match the rest of the UI as much as possible, and I can attend to it post P17?

![image](htt

[2017-09-07 23:28] daver78 commented on #89
@paagla123 I haven't done this yet.

[2017-09-07 23:29] daver78 commented on #83
@jiewsone I believe you figured this out?  If so, let's close this issue?

[2017-09-07 23:30] daver78 commented on #53
@coa is this still open?

[2017-09-07 23:32] daver78 commented on #30
@paagla123 and @paweenwich Do we need this Issue and list still?  I think we can work for the Issues list with filter by Milestone and get same.  Let me know?

[2017-09-07 23:33] daver78 commented on #94
@Mcfarsheed You got it.  Thank you for including your contact information so I know how to reach you.

[2017-09-08 00:05] daver78 opened #96 "[Promote a Blog Post] Populate reporting snapshot on blueprint home page, and complete "View More" reporting view too"
@paagla123 Assigning to you so we don't forget.  You and @paweenwich can figure out the best time to do this.

[2017-09-08 01:44] paweenwich commented on #30
I usually look at issues list.  :)

[2017-09-08 01:46] #83 closed

[2017-09-08 01:49] paweenwich commented on #93
@daver78 timestamp record time that save in DV UI.   I will check this issue again.

[2017-09-08 01:58] paweenwich commented on #81
@daver78 @paagla123 We just found that your codeanywhere only support 1 SSH session.  So, what I propose to KD is not work.  However, like Dave suggest, it better if everyone has their own server and codeanywhere is free for single project.  We already experiment this idea by just setting Coa's codeanywhere.   We will set this env for everyone while you on the show.

[2017-09-08 02:08] paweenwich commented on #88
We will apply both feature "publish at campaign createion" and "republish when save"  at ebook first.  Because we might have more idea by experimenting the  ebook's MAML.    I have to re-think about template MAML (MAML with {{}} ), it might not need at all.  At first, I think this project is a publish once project.  So, the template MAML is the easiest thing to do.   However, for re-publishing,  w

[2017-09-08 02:11] paweenwich commented on #74
Yes, leave this open until we have DV's docker.  Codeanywhere is good but ultimately, Docker seems just better in term of reliability and performance.

[2017-09-08 03:28] coa0329 commented on #53
@paagla123 said this will not include in Print17.

[2017-09-08 03:58] AumpaiFung commented on #91
I already fixed it.
The missing field name problem should not happen with the new create form.
For the old form I already fixed in davinci DB.
Please try again.

[2017-09-08 05:05] daver78 commented on #91
@AumpaiFung thank you.  @paagla123 is this something you can verify, or do you want me to?

[2017-09-08 05:06] daver78 commented on #30
@paagla123 you ok if we deprecate this?

[2017-09-08 05:07] daver78 commented on #93
@paweenwich OK, thanks for the info on `lastEditDate`. Let me know if you find an issue somewhere.

[2017-09-08 05:08] daver78 commented on #81
@paweenwich Makes perfect sense; let me know how it goes with Coa's environment.

Shall we close this Issue now?

[2017-09-08 05:18] daver78 commented on #88
@paweenwich Yes, I think you should re-think and see what you come up with.  These Blueprints are definitely not published once.  @paagla123 should have made that clear when he was there but maybe too much beer :)

The way I think about this (and how the POC worked), as much as possible I want(ed) to store content required by the Program in S3 HTML snippets.

Doing so reduces the need to make subs

[2017-09-08 05:19] daver78 commented on #74
@paweenwich Agreed!

[2017-09-08 05:20] daver78 commented on #53
@paagla123 Was that intentional?  I see you moved it to MarTech milestone.

[2017-09-08 06:08] paagla123 commented on #96
@daver78 this is a duplicate of issue #38 .

[2017-09-08 06:13] paagla123 commented on #88
What is the issue here? We are able to publish multiple times now. Removing the launch button we agreed that we will discuss after Print 17 - right?

[2017-09-08 06:17] paagla123 commented on #29
@paweenwich @coa0329 @daver78 I am ready to close this issue

[2017-09-08 09:02] coa0329 commented on #95
![116](https://user-images.githubusercontent.com/7914690/30204268-f9489614-94ae-11e7-9f70-06c73e4567d1.JPG)

I change the upload and import button to use the same UI as in promote blog.

[2017-09-08 09:03] coa0329 commented on #93
@paweenwich  fixed it.

[2017-09-08 11:06] AumpaiFung commented on #36
@paagla123
I added input type datetime to project.
The known bug was on the right block of form page.
The calendar icon can not popup datetime schedule for now.
Please take a look.

And @daver78
I found that popup modal size (Setting button of each field) on form page, it's smaller than before.
I'm not sure that it's your intention or not.
The style.css file was updated, then I'm not correct it.

[2017-09-08 11:56] coa0329 commented on #86
Sometimes when I hit Save, it spins and spins. Did I break something? Other times it is fine. I ran out of time to troubleshoot but perhaps you can tell from your code.
- You may need this command $scope.$apply(); after $scope.state['Save'] = "Save";.

Can you apply the same look-and-feel to the editContactAudience.html view?
- Fixed

[2017-09-08 12:28] jiewsone commented on #34
I already insert Form Select Box for change the form in Landing page.
But it has known bug, when you select the form, form name in select box not show.
![know_bug](https://user-images.githubusercontent.com/30495168/30211563-bb115bde-94cb-11e7-8d1a-352aef934e72.JPG)

[2017-09-08 14:22] daver78 opened #97 "Refactoring Backlog"
Here's a backlog list of items we should consider for refactor:

- Externalize our angular to `app.js` instead of inline.

- We use `php include`, `w3-include-html`, and `$routeProvider templateURL`.  We should pick one method and stick with it.  My preference would be to standardize with the `angular` way.

- In many areas of the UI, we copy-n-paste HTML snippets (like in Promote a Blog Post when

[2017-09-08 14:25] daver78 commented on #86
@coa0329 Thank you for applying to `editContactAudience.html`.

Did you add the `$scope.$apply(); after $scope.state['Save'] = "Save";`?

@paagla123 Be advised of this open item during your testing.

[2017-09-08 14:27] daver78 commented on #36
@AumpaiFung I see that the modal is skinny now.  That's odd, I don't believe I touched `style.css` in this regard.  I think we can live with it for now, right @paagla123?

[2017-09-08 14:29] daver78 commented on #93
@paweenwich and @coa0329 are you sure?  Did you push this to web2xmm?

The behavior seems the same to me, but I need @paagla123 to verify I'm not going crazy.

[2017-09-08 14:30] daver78 commented on #29
Closing for @paagla123

[2017-09-08 14:30] #29 closed

[2017-09-08 14:31] daver78 commented on #88
@paagla123 If you read through Kwang's comments I think you can see what he's thinking about.

Correct; we won't change anything before Sunday.

[2017-09-08 14:32] daver78 commented on #96
Oops!!  I will close this dumb dupe!

[2017-09-08 14:32] #96 closed

[2017-09-08 16:52] paagla123 commented on #60
All of these are working well. I am closing it. I will open a new one re changing temporary pwd created by pwd reset. Thx

[2017-09-08 16:52] #60 closed

[2017-09-08 16:53] paagla123 opened #98 "We should have a way to change the temporary password assigned by password reset module."

[2017-09-08 16:54] paagla123 commented on #87
@daver78 are we ok to close this and leave #88 open?

[2017-09-08 16:54] #87 closed

[2017-09-08 16:56] paagla123 commented on #30
Yes - I will close.

[2017-09-08 16:56] #30 closed

[2017-09-08 18:11] daver78 opened #99 "[Website] Finalize so we are OK for now"
The website at [dv.mindfireinc.com](dv.mindfireinc.com) is good enough for now.  Needs a lot of work but if people don't read too carefully it should be OK.  There are some open items to button up.

[2017-09-08 18:13] daver78 commented on #99
@Mcfarsheed and @paagla123 here is what I did today:

- Made the FREE TRIAL form submit an email.  Will go to dg@mindfireinc.com and Kush (if he accepts Formspree).
- We should tell our team if they want to sign people up for "early access" to use the contact form on the site and make a note of that in the comments
- I commented out the testis until we have
- I updated the value prop bullets

[2017-09-08 18:16] paagla123 opened #100 "Add a way to upload a logo for Company Email template in the Blog Post Email"
@daver78 @paweenwich  - use Summernote here again?

[2017-09-08 18:17] paagla123 commented on #99
@daver78 what's this Formspree?

[2017-09-08 18:18] paagla123 commented on #99
@daver78  - what about the add as seed form?
Also - what is testis?

[2017-09-08 18:27] daver78 commented on #99
@paagla123 See [https://formspree.io/](https://formspree.io/)

[2017-09-08 18:28] daver78 commented on #99
@paagla123 What do you mean about "Add as Seed Form"?  Am I forgetting about something?

Testis = testimonials

[2017-09-08 18:29] paagla123 commented on #93
Its using the last edit timestamp for sure. However, it is also putting it in a strange timezone it seems, which is 12 hours ahead of Pacific time - could be Indian Standard Time. Please correct this. Updates I did just now show up as "updated 12 hours ago". Pl see screenshot.

![image](https://user-images.githubusercontent.com/29718335/30225863-d681f25e-9488-11e7-8aa2-fc049942317f.png)

[2017-09-08 18:53] paagla123 opened #101 "Audience List not sorted correctly - it should be sorted by most recently edited first"

[2017-09-08 19:24] paagla123 commented on #93
Time stamp is 12 hours off. Its ahead by 12 hours.

[2017-09-08 19:25] paagla123 commented on #85
This is good. Closing

[2017-09-08 19:25] #85 closed

[2017-09-08 19:47] daver78 commented on #93
@paagla123 and @paweenwich, I commited to GIT the following change in `welcome.php` and `myCampaigns.php`:

[code]
You can see it here: [http://da-vinci-core-daver438618.codeanyapp.com/admin/welcome.php](http://da-vinci-core-daver438618.codeanyapp.com/admin/welcome.php)

We should pull this to web2xmm server until we fix it.  Once we fix it, we should then roll back to the previous snippet.

[2017-09-08 19:55] daver78 opened #102 "[Promote a Blog Post] angular-chosen form field width issue"
For some reason, `angular-chosen` form field widths are not obeying my commands.  It sometimes looks like the below. [Here's documentation](https://github.com/leocaseiro/angular-chosen).

Since at the show everyone's monitor is big enough and if necessary I can tell them to hit CNTRL-MINUS to get things in view, we should be OK.  However, needs research to fix.

![image](https://user-images.github

[2017-09-08 19:55] daver78 commented on #102
@paweenwich If there is time next week, perhaps you can assign someone to this?  If not I will get back to it in about 7 days.

[2017-09-08 21:13] daver78 commented on #86
@paagla123 Did you test the updates to `editContactAudience.html`? I don't think it pulls in your saved filter rows.

@coa0329 Can you double check this?  I think after you applied the updated look-and-feel, the saved rows do not populate.

[2017-09-09 02:03] paagla123 opened #103 "Audience Filter details shows only in Firefox, not in Chrome or Edge."

[2017-09-09 02:06] paagla123 commented on #93
@paweenwich pl discuss with me Monday 11AM BKK time. Dave made changes to hide the problems - we will need a permanent fix and merge code. Thx

[2017-09-09 02:07] paagla123 commented on #39
This is fixed.

[2017-09-09 02:07] #39 closed

[2017-09-09 02:10] paagla123 commented on #57
@coa0329 I cannot reproduce this. Can you pl tell me how to test this? Thx

[2017-09-11 01:56] paweenwich commented on #93
Let me explain,
Right now, the lastEditDate is in UTC/GMT (same time) ISO 8601 format.
Ex 2017-08-29T16:20:16Z

The reason for this is, Angular + IE can not handle time zone correct;y.   For example, if we put something  like "06-08-2017 04:40:42 GMT"   am-time-ago will show as "Invalid date".     StackExchange suggested to use ISO 8601 format.

The I think that if we are going to use am-time-ago,

[2017-09-11 03:33] paweenwich commented on #93
Please check

https://codepen.io/muminoi/pen/ZJPjKv?editors=1011

RAW Date is date format that we might want put into DB

Loc time is display date when using {{item.lastEditDate | amDateFormat:'MMMM Do YYYY, h:mm a'}}

Loc time + 12 is what we currently using {{item.lastEditDate | amUtc | amLocal | amAdd : '12' : 'hours' | amDateFormat:'MMMM Do YYYY, h:mm a'}}

time ago is <span am-time-ago="item.

[2017-09-11 05:01] paagla123 commented on #99
@daver78  can we close this one now?

[2017-09-11 12:34] daver78 commented on #93
@paagla123 I see that you discussed with @paweenwich and said you speak to me about this.  I'll try you in a few hours if possible.

[2017-09-11 12:35] daver78 commented on #99
@paagla123 Yes -- except did you clarify what you mean about "Add as Seed Form"?  Did I fix that?

If not please create another Issue for me so I can fix.

[2017-09-11 12:35] #99 closed

[2017-09-11 15:54] paagla123 commented on #93
@paweenwich this is still not correct. See screenshot below - I just modified this campaign and it shows 12 hours ago!
![image](https://user-images.githubusercontent.com/29718335/30284080-cc68ab6c-96ce-11e7-8405-8a408cc5105a.png)

[2017-09-11 23:55] paagla123 commented on #101
@AumpaiFung have you had a chance to look at it?

[2017-09-11 23:57] paagla123 commented on #95
@daver78 @coa0329 what is teh status here - can we please close this now?

[2017-09-11 23:58] paagla123 commented on #94
@daver78 closing this now.

[2017-09-11 23:58] #94 closed

[2017-09-12 00:25] daver78 commented on #94
@paagla123 Thx good sire.

[2017-09-12 00:26] daver78 commented on #95
@paagla123 I'm going to assign it to me.  Coa gave it a 1st pass of love but there is more opportunity here I want to investigate.  I'll change assignment.

[2017-09-12 00:32] paagla123 commented on #91
This is fixed. Closing

[2017-09-12 00:32] #91 closed

[2017-09-12 00:33] paagla123 commented on #90
Closing now.

[2017-09-12 00:33] #90 closed

[2017-09-12 00:37] paagla123 commented on #86
This problem occurs in Chrome and Edge - issue#103. I am going to close this one.

[2017-09-12 00:37] #86 closed

[2017-09-12 00:38] paagla123 commented on #82
@paweenwich @AumpaiFung is this issue fixed now?

[2017-09-12 00:39] #79 closed

[2017-09-12 00:42] paagla123 commented on #77
@daver78 issue#100 opened for logo.
@paweenwich can you please respond to your questions and close this issue?

[2017-09-12 00:45] paagla123 commented on #75
@paweenwich I do not believe this has been done. Can you please assign someone? Thx

[2017-09-12 00:46] paagla123 commented on #57
This issue is fixed I believe - no longer getting the same error. Closing it.

[2017-09-12 00:46] #57 closed

[2017-09-12 00:53] #73 closed

[2017-09-12 00:55] paagla123 commented on #32
Closing this one now

[2017-09-12 00:55] #32 closed

[2017-09-12 01:11] paagla123 commented on #34
@jiewsone there are multiple issues here:
1) Published campaign cannot be opened in Studio
2) Once we click on Launch button - all of the SAVE buttons start turning again - may be related to above issue. However, remember that the Launch button is not supposed to be on this one.
3) Landing page settings need a lot of love. @daver78 how will the domain be assigned?
4) I do not necessarily agree wit

[2017-09-12 02:08] paweenwich commented on #93
@paagla123   As I told you, my either my demo code in codepen or Dave's fixed (add 12 hours) is correct.  How come that when we chat yesterday you said it work, and later you say it does not, while we have not touch any code or data on that machine.    Let's check this together again in today chat.  :)

[2017-09-12 02:10] paagla123 commented on #36
@AumpaiFung can you please provide an update here? I believe there are still a lot of things to finish here.  I have updated the Google Doc - please match with it. Also - I provided code for drop down of country. That is also missing.

[2017-09-12 02:10] paweenwich commented on #101
I think we should hold this until we solve the sort problem in my campaign.   If we can not sort my campaign correctly, this one will has the same bug.

[2017-09-12 02:12] paagla123 commented on #37
@daver78 please note that I will write up the specs that are in my head here. If I cannot for some reason (e.g. Fogarty's visit) I will discuss when you are back.

[2017-09-12 02:14] paagla123 opened #104 "Create specs for a sign up process"

[2017-09-12 02:22] paagla123 commented on #101
@paweenwich I don't think they are same issue, but we can wait

[2017-09-12 02:22] paagla123 commented on #93
@paweenwich no idea. We will look together today. Thx

[2017-09-12 03:25] coa0329 commented on #98
We use RequestForgotPassword api.

To request a new password for the user. The user's email  address should be provided in the request. NOTE: The new password will  be emailed to the user.

[2017-09-12 04:11] coa0329 commented on #34
I fixed issue 1.
The variable name in TMAML doesn't match with variable in couchdb.

[2017-09-12 04:27] AumpaiFung commented on #82
@paagla123
This is not fix.

[2017-09-12 05:10] jiewsone commented on #34
When should we change the status of email1 and email2 to Start ?
1 when user click save in step3
2 when user click save in step4
3 other step

[2017-09-12 05:19] paagla123 commented on #77
@daver78 View Online will be done now as part of Martech release

[2017-09-12 07:56] paweenwich commented on #77
@daver78 no Default can be set right now for dfViewOnline.  We will implement it.  However, in a mean time, we can code it in accountSetting.php

[2017-09-12 08:05] coa0329 commented on #77
@daver78 You can set it in setting.

![125](https://user-images.githubusercontent.com/7914690/30314705-c17ac66a-97cb-11e7-98c3-ec23c6ffb938.JPG)

[2017-09-12 08:19] coa0329 commented on #53
@paweenwich

We save 2 versions of the html on S3. (with and without view online link)

We create the mircosite in the maml. We set the domain to davinci.m.mdl.io.
When user launch the program
1 We will automatically add sub domain to the microsite using _id from davinci.

2 We will add the ##purl##, domain and emailX.html in the link in email content. Example http://##purl##.davinci{{acctID}}.m.m

[2017-09-12 14:01] daver78 opened #106 "[Audiences] May need a way to set a filter row that is used by every Audience, even if User doesn't explicitly set it"
For example, within MindFire, we use `sf_hasOptedOut` to mark opt-outs.  A problem we often has if people forget to include this row in their TA.

In DV, the same thing could happen, but I think we should think about some way to control this at the account level.

There could be other fields too.  This is just a placeholder for the thought so I don't forget.

[2017-09-13 01:14] paagla123 commented on #106
@daver78 I don't get it - why do you say so? However, we should note that we need to have a way to address all contacts. Currently we do not have any audience for all contacts.

[2017-09-13 01:26] daver78 commented on #106
@paagla123 Let me know if you mean "I don't agree with this requirement" or you mean "I don't understand the requirement."

Regarding a way to target all Contacts, should there be a default Segment called "All My Contacts"?  Or is that too dangerous?

[2017-09-13 01:27] paweenwich commented on #77
Coa is right.  My fault :).

[2017-09-13 01:30] daver78 commented on #77
@paweenwich Yes, I know you can change it in "Settings" but I want the system default to match what I've written.  Can we make that happen?

[2017-09-13 02:15] paagla123 commented on #106
@daver78 I see - understand now. Thx

[2017-09-13 02:57] paweenwich commented on #82
Even simple page like this is fail
`<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/g

[2017-09-13 03:10] daver78 commented on #82
@paweenwich I think it is OK.  Do you see the same error on mindfireinc.com?

That said, I see the GA data correctly in their dashboard.  I think all is OK.

[2017-09-13 04:04] paagla123 commented on #93
@daver78 @paweenwich this worked fine last night, today morning and now. So I am going to assume that some IT has fixed it and close it.Thanks for all your patience.

[2017-09-13 04:09] paagla123 commented on #106
@daver78 opt-outs in Studio are automatic - why do we need to mark a row? We're not using any custom unsubscribe here - right? I am still confused about this issue.

[2017-09-13 04:31] paagla123 commented on #82
Closed after discussion

[2017-09-13 04:31] #82 closed

[2017-09-13 04:37] paagla123 commented on #75
@daver78 @paweenwich @coa0329 related issues are #53, #54 and #77

[2017-09-13 04:39] paweenwich commented on #77
@daver78 yes.

[2017-09-13 05:27] paagla123 commented on #81
@daver78 @paweenwich I think we can close this now - right?

[2017-09-13 05:28] paagla123 commented on #74
@daver78 @paweenwich this also should be closable now - right?

[2017-09-13 05:37] paagla123 opened #107 "Form Copy Feature does not work"

[2017-09-13 09:12] AumpaiFung commented on #107
I think you mean Asset Library.
Now Audiences have not Copy button.

[2017-09-13 13:20] daver78 opened #108 "Prepare assets for Kushal to run a "real" 'Promote a Blog Post' campaign."
@Mcfarsheed, as discussed, I want you to have Kushal run one of your "Tuesday" content promotions.  He'll use the Blueprint to run it and thru that process, discover additional areas of polish that are required.

If he feels he needs another Campaign or two to continue improving things, we'll open up another issue.

If not, we'll then ask you to run a Campaign and provide @paagla123 with feedback.

[2017-09-13 13:22] #81 closed

[2017-09-13 13:23] daver78 commented on #77
@paweenwich OK.  Do you want another issue for this?  If so, please close this one and create one specific for that?

[2017-09-13 13:24] daver78 commented on #93
Hooray!!

[2017-09-13 13:31] daver78 commented on #106
@paagla123 So when you said "I see - understand now" what was that about?  Was that the default segment called "All Contacts"?  I think you raise a good point on that issue, and we should figure out how to address elegantly.

-----

Regarding "opt-outs in Studio are automatic", that may be true in some cases, but certainly not all.  For example, when you run @Mcfarsheed's campaign(s) related to #1

[2017-09-13 13:33] daver78 commented on #42
@paagla123 Where are we with this?  @paweenwich who is assigned to implement this feature?

[2017-09-14 01:14] paagla123 commented on #101
@AumpaiFung this is not fixed yet

[2017-09-14 01:48] paweenwich commented on #42
@daver78 Sorry, I have no idea what you gays talking about.  I know a bit about GA but not the Conversion tracking.   Could you explain the idea and give me a pointer?

[2017-09-14 02:06] daver78 commented on #42
@paagla123 I think you covered this with @paweenwich when you were in BKK?

[2017-09-14 04:09] paagla123 commented on #42
@paweenwich please ready https://blog.adstage.io/2013/11/26/tracking-conversions-with-google-analytics/ to learn about conversion using Google Analytics

[2017-09-14 09:43] paweenwich commented on #25
done on stage.
http://davincistage.mindfireis.com/

[2017-09-14 09:44] paweenwich commented on #101
Fung finish this one,  on stage.

[2017-09-14 09:47] paweenwich commented on #102
I fixed this one. please check the PromoteBlog first email on stage.

Basically,
chosen always set with = 100%.  So, need to put it in other container in order to set width.

[2017-09-14 09:49] paweenwich commented on #107
Fung did the form copy.  please check on stage.

[2017-09-14 11:15] jiewsone commented on #75
I already change all emails UI as same as Email1.

[2017-09-14 12:21] daver78 commented on #42
@paagla123 and @paweenwich, I think neither of you has worked with Google Analytics in this kind of scenario, and thus the concepts seem foreign and complicated.  Let me clarify and try to simplify the mental picture you've created.
----------
Put simply, the question we're answering for the User (in the context of the Promote a Blog Post blueprint) is:

_Of the people who saw my blog post, how ma

[2017-09-14 12:29] daver78 commented on #75
@jiewsone thank you.

@paweenwich Forgive me as I have not had a chance to look at the code yet, but I think for maintainability, we should consider some sort of angular template or `ng-repeat` situation for the three email UI portion.

If I recall, we have them separately coded in the HTML (which is what I did in my mockup), but that was just for quick and dirty purposes.

What do you think?  Sho

[2017-09-14 12:33] daver78 commented on #102
@paweenwich Make sense.  Perfect; thank you!

[2017-09-14 14:11] paagla123 opened #109 "Remove all references to any assets located on Dave's C9 environment"
I though we handled this, but I still see that teh old man's picture on teh top left pf the screen points to https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/DV-CMS-UI/DV-logo.png . This should be hosted in S3. Likewise, if there are any others like this, it needs to be moved to S3.

[2017-09-15 00:44] paagla123 commented on #42
@daver78 nice explanation thank you. I think I was on the wrong track. So we don;t need the goals

[2017-09-15 00:46] paagla123 commented on #102
Fixed in stage thank you @paweenwich

[2017-09-15 00:48] paagla123 commented on #101
@AumpaiFung most recently updated going to the end

[2017-09-15 00:49] paagla123 commented on #75
All are same in staging

[2017-09-15 00:51] paagla123 commented on #107
@AumpaiFung works in stage thank you. Should we not have a different name, e.g. Copy of XXXX as the new form name?

[2017-09-15 00:53] paagla123 opened #110 "View / browse contacts should open in a different tab"
When we click on view all my contacts or click on a contact list, the list of contacts should open in a different tab.

[2017-09-15 02:23] paagla123 commented on #108
@daver78 we need to get the MindFire logo back...
If thi sis for real we need to add daVinci to MindFire Master

[2017-09-15 02:25] paagla123 commented on #106
@daver78 do we want to worry about non-standard unsubscribes in the initial incarnation of daVinci? Normal people will not think about it. Its too complex a concept for them

[2017-09-15 02:30] paweenwich commented on #75
@daver78 You are correct.  There are a lot of thing that can be refactor, to make in maintainable.  I saw your refactor issue.  Why don't we prioritize things and put the list there.

[2017-09-15 02:33] paagla123 commented on #77
@daver78 @paweenwich what is the conclusion here?

[2017-09-15 02:35] paagla123 commented on #74
@daver78 @paweenwich we should be able to close this now - right? We've moved n a different diection.

[2017-09-15 02:36] paagla123 commented on #54
@daver78  I want to be able to upload the logo here - right ho?

[2017-09-15 02:41] paagla123 commented on #25
@paweenwich this is good thanks. I will test it thoroughly.

[2017-09-15 03:13] paweenwich commented on #77
Please use this issue, will update here when the default_useinfo is done.

[2017-09-15 03:17] paweenwich commented on #109
Done

[2017-09-15 03:37] daver78 commented on #108
@paagla123 I think you created an issue for allowing the User to upload their company logo.  Should resolve this, yes?

[2017-09-15 03:45] coa0329 commented on #42
https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/web-js

To use Analytics Reporting API.
1 User must set the permission to use Analytics Reporting API in the account.
2 User give us client ID and view ID.

[2017-09-15 03:48] daver78 commented on #42
@paweenwich I will answer each of your questions in the same order:

1.  Yes, we should assume the User's site already has GA installed.  Yes, the GA API allows us to access the data.  Yes, we need information from the User in order to do this.

To illustrate this, if you look at [the mockup](https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=myProfileSettings ) and then click on

[2017-09-15 07:30] paweenwich opened #111 "Change w3 include to php include"
w3 include is slow and can not include script.   Need to change to php include

[2017-09-15 07:45] coa0329 commented on #42
I create the mockup to get the report from view "All Web Site Data" in account "StarbucksFirstTaste2017".

Go to http://davincistage.mindfireis.com/admin/HelloAnalyticsReport.html

Click Sign-in button.
The google Sign-in will popup.
Enter you google email and password.
You will ask for permission.
Click Allow.

You will see nothing , if you cannot access that view ["PERMISSION_DENIED"].
You will

[2017-09-15 07:53] paweenwich commented on #110
Done

[2017-09-15 08:23] jiewsone commented on #100
Which page is you decide to upload logo image? Images in Asset Library?

![capture2](https://user-images.githubusercontent.com/30495168/30473104-5065c46a-9a29-11e7-8a18-a7c87b310977.JPG)

[2017-09-15 13:00] AumpaiFung commented on #101
@paagla123
Audience still not sorting. I'm working on it.

[2017-09-15 13:02] AumpaiFung commented on #107
@paagla123
Done.

[2017-09-15 16:49] daver78 commented on #106
@paagla123 I have no problem if you do it manually via the Segment filter for right now, but my gut tells me we will find this to be a recurring need (in the future).  Let's agree to wait and see what happens?

[2017-09-15 16:50] daver78 commented on #74
@paweenwich What is the different direction?  I missed the discussion.

[2017-09-15 16:51] daver78 commented on #34
@paagla123 Did you answer these questions while I was gone?

[2017-09-15 16:51] daver78 commented on #35
@paagla123 What is the status of this issue?  Is it a problem?

[2017-09-15 16:54] daver78 commented on #42
@coa0329 Good progress.

1.  Regarding the Google Sign button, we should place that in the proper section of Settings as I mention to @paweenwich above ([put it here](https://da-vinci-rules-daver78.c9users.io/httpdoc/daver/dv.php?page=myProfileSettings) in “3rd Party Product Linking” )

2.  What are you trying to do with the second mockup which retrieves the Goal Settings?  I believe I told @paagl

[2017-09-15 16:55] daver78 commented on #45
@paagla123 Is this still open?

[2017-09-15 16:55] daver78 commented on #77
@paweenwich OK.  We will await your update.

[2017-09-15 16:56] daver78 commented on #111
@paweenwich Should we reconsider using `php include` and perhaps do it the angular way?

[2017-09-15 16:57] daver78 commented on #110
@paagla123 This area needs major love.  Once you've tested this, can you create a new Issue for the Love?

[2017-09-15 17:51] paagla123 commented on #93
Reopened. Production again says 12 hours instead of a few seconds. Staging has some issues as well. Let us fix in Staging.

[2017-09-15 18:12] paagla123 commented on #103
@coa0329 watch document.onload()

[2017-09-15 18:26] paagla123 commented on #93
The createdate and lasteditdate in DBView are both wrong - that is the problem. When I create or edit a campaign at 1045AM PST on 9/15, it shows 2017-09-15T05:45:00Z, whereas it should really show 2017-09-15T17:45:00Z. Because of this we see the 12 hour time difference. @paweenwich can we please fix now? Thx

[2017-09-15 18:42] paagla123 commented on #93
Per Dave:
![image](https://user-images.githubusercontent.com/29718335/30498305-ff31a38e-9a0a-11e7-851f-e72cbfa12e84.png)

[2017-09-15 18:47] daver78 commented on #100
This is same as #54

[2017-09-15 20:05] daver78 opened #112 "Which branch should I pull?"
@paweenwich I saw that there are 9 branches in BhaangWeb.  Which one should I pull and push to in order to contribute?

Also, what is our branching strategy?  Are you having each developer create their own branch in the repo, which you will then merge into master?

Or are you taking a different approach?

[2017-09-15 20:10] daver78 opened #113 "Should we consolidate to one repo?"
@paweenwich I think you or @coa0329 created two GIT repos at the start of this work because you were newbies.

However, I think we would be better served by consolidating into one, which would allow us to tie your Issues, Pull Requests, Projects, Branches, and Code into one centralized area (instead of two).

Do you agree?

If so, I think the easiest thing to do is use `BhaangWeb` as the repo, and

[2017-09-15 20:19] daver78 commented on #97
@paweenwich and @paagla123 Can you look at the list above and tell me if you think anything is missing?  I'm sure you've run across a few things too.

[2017-09-15 20:55] daver78 commented on #93
@paweenwich I would add:

`date_default_timezone_set("UTC");`

... anywhere you do something like this:

`$dateTimeNow = gmdate('Y-m-d\TH:i:s\Z', time()); `

I think there is a known issue with `gmdate` if the server is in a timezone other than UTC.

[2017-09-15 20:59] daver78 opened #114 "[Audiences] Fix edit Segment FilterClick()"
@coa0329 when I updated `editContactAudience.html`, I wanted to allow the User to see the filter on the screen without having to hit the button you had there previously.

Since I was pressed for time, I did this:

[code]
... but it doesn't always seem to work (meaning, sometimes the page does not show my saved filter rows).

Can you fix this properly instead of my hack?

[2017-09-15 20:59] daver78 commented on #114
@paagla123 Tagging you as reference for the mixed up soup of information you originally had :)

[2017-09-16 01:47] coa0329 commented on #113
We should use BhaangWeb as the repo and we should put new issues there.

[2017-09-16 01:54] coa0329 commented on #114
This issue was moved to coa0329/BhaangWeb#1

[2017-09-16 01:54] coa0329 commented on #113
This issue was moved to coa0329/BhaangWeb#2

[2017-09-16 02:57] daver78 commented on #112
@coa0329 tagging you in case you can answer before @paweenwich

[2017-09-17 01:37] coa0329 commented on #112
master is the branch for production.
stage is the branch for stage.
the rest are the branch create from stage.

[2017-09-17 03:19] daver78 commented on #112
@coa0329 OK, I'm using:
`git pull origin stage`
... to pull from stage.  What are you using to push back to the stage branch?

[2017-09-18 00:59] paagla123 commented on #100
@daver78 neither - setup page

[2017-09-18 01:10] paagla123 commented on #93
@paweenwich this is completely messed up in Staging now. Shows local machine's date and time without a time zone. I created a campaign at 6:04PM - shows Sept 17 6:04PM. I changed time zone of my local machine to Eastern and updated - shows Sept 17 9:05PM. I switched back to Pacific time and updated again, shows Sept 17 6:06PM.

[2017-09-18 01:20] paagla123 commented on #110
@paweenwich this is fixed for See All My Contacts. Needs same behavior when we select one of the audiences

[2017-09-18 01:22] paagla123 opened #115 "Email2 must have a schedule later than email1 and so on."
Currently you can schedule emails 2 & 3 to go out before email1, or email 3 to go out before email 2. That  is incorrect behavior.

[2017-09-18 01:23] paagla123 commented on #95
@daver78 any updates here? Thx

[2017-09-18 01:40] paweenwich commented on #112
@daver78  Yes.    Please be aware that we are git newbie.  We are not sure either that this is the way that we suppose to do.   So, any suggestion from you are very welcome.

[2017-09-18 01:47] paweenwich commented on #110
@paagla123
![capture](https://user-images.githubusercontent.com/17819797/30527004-deab3bbc-9c4d-11e7-88a4-50a923af92a2.PNG)

I am not where you are talking about.  It open the new tab when I click around the blue circle area.

[2017-09-18 02:15] paagla123 commented on #102
@paweenwich this still has problems in smaller screens. Seems to be fixed in Staging. Pl confirm.

[2017-09-18 02:20] paagla123 commented on #25
@daver78 @paweenwich  this works fine. But I would contend that copy campaign feature should copy everything except the audience and schedule. Otherwise schedule may be in the past.

![image](https://user-images.githubusercontent.com/29718335/30527405-03155ab2-9bdd-11e7-9148-c68ee23625b5.png)

[2017-09-18 02:22] paweenwich commented on #93
Assuming we keep data in DB as UTC correctly.
@paagla123 When you see the time in UI,  typically, without time zone indicated, it should show time according to your computer time zone.   That is why
" I created a campaign at 6:04PM - shows Sept 17 6:04PM. I changed time zone of my local machine to Eastern and updated - shows Sept 17 9:05PM. "

This is correct behavior.  If you don't want this, you

[2017-09-18 02:26] paagla123 commented on #93
@paweenwich I am testing only in Staging now - items that are in the project called Fixed in Staging have passed testing in Staging and are ready for production release. After production release, I will test them in production again and close the issues if fixed in production. So all testing refers to Staging now.

@paweenwich please store time stamp in UTC and use Angular Moment to display the ti

[2017-09-18 02:29] paagla123 commented on #107
@AumpaiFung thank you

[2017-09-18 02:35] paagla123 commented on #36
@AumpaiFung Available for Trade In should have a drop down with Yes / No values.

[2017-09-18 02:36] paagla123 opened #116 "Need a way to create the template for landing pages and emails"

[2017-09-18 02:44] paagla123 opened #117 "Form spilling out on the right hand side in screen where you create landing pages for eBook"
See screenshot here:
![image](https://user-images.githubusercontent.com/29718335/30527733-a7cbb170-9be0-11e7-838a-8592b9f91089.png)

[2017-09-18 02:46] daver78 commented on #112
Take a look at: https://www.atlassian.com/git/tutorials/comparing-workflows

Which of these do you think suits us best?

[2017-09-18 02:48] daver78 commented on #117
Let's put new items in b-web. I anticipated this particular issue and have two solutions. Let's discuss before we choose a path.

[2017-09-18 02:51] paagla123 commented on #34
@daver78 I believe I did - @jiewsone pl confirm
@jiewsone when will we be able to publish this program?

[2017-09-18 02:52] paagla123 commented on #34
@jiewsone Form spilling out on the right hand side in screen where you create landing pages for eBook #117 created new issue.

[2017-09-18 03:02] daver78 commented on #95
@paagla123 I'm closing this one and moving to b-web repo.

[2017-09-18 03:02] #95 closed

[2017-09-18 03:03] daver78 commented on #102
@paagla123 I think you're talking about a related but different issue.  Can you put a snapshot of what you are seeing?

[2017-09-18 03:04] daver78 commented on #25
@paagla123 I think I agree.  Let's do as you suggest and then try it on when you run your real campaigns for @Mcfarsheed?

[2017-09-18 03:06] daver78 commented on #34
@paagla123 Let's create a new issue for this in b-web repo; I also have 2 suggestions on how we can handle this.  Let's review those before we request a change?

[2017-09-18 03:18] paweenwich commented on #97
@daver78 I think  "php include"  comparable to  "w3-include-html".  Both are static include which right now we are using it to include top, left and buttom part.    We can get ride of both if we decide to go with SPA.

So, the problem is are we going to SPA or not.  I never do any SPA before, so I am qualify to decide on this.   For me, MPA has benefit in resetting Browser/Javascript stage every t

[2017-09-18 03:22] paweenwich commented on #113
Agree, on using coa0329/BhaangWeb

[2017-09-18 03:34] paweenwich commented on #74
@daver78 Sorry, Dave.   We have last week, we move to codeanywhere first while Chay try to Dock davinci.  With in a few day, we experience "proxy error" from the codeanywhere server after using it for a while.  It seems like, the server is limited CPU usage and cause a lot of timeout.   We end up setting up VirtualBox (ubautu14 )  for everyone instead which easier for us to do than docker.

Right

[2017-09-18 03:37] daver78 commented on #74
@paweenwich No problem.  Should I also work with a virtual box, or shall I continue using codeanywhere?

[2017-09-18 03:48] coa0329 commented on #113
https://github-issue-mover.appspot.com/

We can use this tool to move the issues between repo but the issue number will change.

[2017-09-18 04:15] paweenwich commented on #112
@daver78 I think, what we are trying to do similar to the "Git Workflow".   We have master.  Our stage branch right now is similar to develop branch in the workflow.  So, I think this one will do, until we have more experience.

[2017-09-18 04:59] paweenwich commented on #74
@daver78 Codeanywhere give us a lot of trouble.  (May be due to our internet connection).   You can stay with codeanywhere if it work fine for you.  However, we can give you the Davinci's virtual box image that we set up if you like.

[2017-09-18 05:45] paweenwich commented on #25
Done.

[2017-09-18 05:52] paweenwich commented on #93
Done (Put save suggestion on the code and put angular-moment back to myCampaign).

[2017-09-18 08:15] coa0329 commented on #114
Fixed on stage.

[2017-09-18 08:56] coa0329 commented on #42
@daver78

The idea is to get all the goals to use as the option in dropdown for user to select.
We will show the report of that goal using GA api.

[2017-09-18 08:58] coa0329 commented on #103
Move to #114

[2017-09-18 08:58] #103 closed

[2017-09-18 09:13] AumpaiFung commented on #101
Fixed on stage.

[2017-09-18 09:41] coa0329 commented on #115
Fixed on stage.

[2017-09-18 14:12] daver78 commented on #114
@paagla123 You will verify this fix on stage?

[2017-09-18 14:14] daver78 commented on #42
@coa0329 I think @paagla123 took you on the wrong path during the discussion of this part.  I thought he cleared that up.  @paagla123 Can you discuss tonight before @coa0329 does more work on this part?

[2017-09-18 14:17] daver78 commented on #74
@paweenwich I will continue using codeanywhere for now, but sure, send me the DV VB image so I can take a look.

By the way, when using Docker, were you trying to run it on codeanywhere, or your local machines?

[2017-09-18 14:19] daver78 commented on #97
@paweenwich OK, I am fine with MPA for now.

However, I notice that some of our developers are using `$routeProvider` already in some areas, so we are like hybrid SPA-MPA?

Let me know if you're OK with that.  I'm fine with it for now.

[2017-09-19 00:58] paagla123 commented on #114
@daver78 @coa0329 We don;t need to click any button to see the filters on Firefox. But the filters still do not show up on Chrome - in Staging. So not fixed, I would say.

[2017-09-19 01:05] coa0329 commented on #114
![143](https://user-images.githubusercontent.com/7914690/30571346-3ffd5d32-9d11-11e7-8ad5-78c425790d8b.JPG)

I cannot repeat it.
The filter show up on my Chrome.

[2017-09-19 01:07] paagla123 commented on #114
Retested - fixed.

[2017-09-19 01:07] #114 closed

[2017-09-19 01:09] paagla123 commented on #101
@AumpaiFung pl show me tonight - I am still havig issues.

[2017-09-19 01:14] paagla123 commented on #42
@coa0329 No need for Goals. Here's the discussion on Skype last Thursday on this topic:

Here're the API's https://developers.google.com/analytics/devguides/integrate/
Dave wants us to find an API that will retuen all URLs called and then search for a sring in the URL to compute how many people came from our email
So once you find API the rest should be simple

[2017-09-19 03:21] coa0329 commented on #42
![138](https://user-images.githubusercontent.com/7914690/30574367-a1558732-9d23-11e7-911c-1c44c1bf025a.JPG)

Do you mean we use GA api to get page visit then match it with Conversion URL user setting in each campaign ?

[2017-09-19 04:00] paagla123 commented on #42
@coa0329 That is correct. The conversion URL will have a particular string that we put there and search for it from the result of GA API calls.

[2017-09-19 05:10] paagla123 commented on #93
Fixd in Staging. Thx

[2017-09-19 05:32] paagla123 commented on #101
Fixed in Stage now

[2017-09-19 07:02] coa0329 commented on #42
Goto http://davincistage.mindfireis.com/admin/HelloAnalyticsReport.html

![141](https://user-images.githubusercontent.com/7914690/30579457-f9f36b1a-9d42-11e7-8232-0d4cda270b78.JPG)

I modify the code to get the pages from GA api.

So now we can use them to match with Conversion URL user setting, then create report.

[2017-09-19 11:13] jiewsone commented on #100
I already add "Company Logo" in Setting page.
But after you upload image, the image preview not change because we replace the old file.
You have to reload page by press ctrl+f5, it will show the correct image.
I will fix it tomorrow.

[2017-09-19 14:15] daver78 commented on #93
@paweenwich and @paagla123 How did we end up fixing this??

[2017-09-19 22:37] paagla123 commented on #93
@paweenwich NOT FIxed. I created two campaigns this morning around 1030AM PST. Shows CouchDB data as
{
           "campaignID": "c7784cd5018e06211e161a6c5a3baf88",
           "accountID": "16916",
           "campaignName": "KD-0919-Oncology",
           "createDate": "2017-09-19T05:24:48Z",
           "lastEditDate": "2017-09-19T05:27:56Z",
           "status": "Edit",
           "campaignType":

[2017-09-19 23:01] paagla123 opened #118 "Any time you edit a blueprint, minimize left nav"
This is going to avoid form overflow

[2017-09-19 23:02] #118 closed

[2017-09-20 00:33] paagla123 commented on #117
This issue was moved to coa0329/BhaangWeb#14

[2017-09-20 00:34] paagla123 commented on #117
Moved to BhaangWeb

[2017-09-20 08:36] coa0329 commented on #42
We will add the following parameters "campaignID={{campaignID}}&contactID=##id##&source=EMAILX" to the call to action link in all emails so we will have the information from GA.

This is the example link in email

http://davincistage.mindfireis.com/admin/GA_test2.php?campaignID=a45f6961a4d7f7783f9232b7dc9de381&contactID=1&source=EMAIL1&utm_medium=email&utm_source=Blog&utm_campaign=My+Blog&utm_term

[2017-09-20 09:36] coa0329 commented on #110
Fixed.

[2017-09-20 09:59] jiewsone commented on #34
@paagla123 Please explain the spec for the "Landing Page settings" tab.
![image](https://user-images.githubusercontent.com/30495168/30638239-eb05a810-9e24-11e7-83e9-cc030a9eb24a.png)

[2017-09-20 10:38] jiewsone commented on #100
I already fix it.

[2017-09-20 10:39] AumpaiFung commented on #36
All selectbox is done.
Datetime icon on form library still can not popup date scheduler (Known bug).
But on ebook setup landing page can do.

Please take a look.

[2017-09-20 15:18] daver78 commented on #42
@coa0329 Good thinking on passing the email `source=EMAILX`.  Thanks for considering that important angle.  @paagla123 I assume you can see the validity of this param.

What's the next step?

[2017-09-21 02:55] coa0329 commented on #53
This issue was moved to coa0329/BhaangWeb#24

[2017-09-21 02:55] #53 closed

[2017-09-22 00:14] paagla123 commented on #116
This issue was moved to coa0329/BhaangWeb#41

[2017-09-22 00:14] #116 closed

[2017-09-22 00:15] paagla123 commented on #113
We're moving - closing this.

[2017-09-22 00:15] #113 closed

[2017-09-22 00:15] #112 closed

[2017-09-22 00:16] paagla123 commented on #111
This issue was moved to coa0329/BhaangWeb#42

[2017-09-22 00:16] #111 closed

[2017-09-22 00:18] paagla123 commented on #104
This issue was moved to coa0329/BhaangWeb#43

[2017-09-22 00:18] #104 closed

[2017-09-22 00:18] paagla123 commented on #98
This issue was moved to coa0329/BhaangWeb#44

[2017-09-22 00:18] #98 closed

[2017-09-22 00:19] paagla123 commented on #88
This issue was moved to coa0329/BhaangWeb#45

[2017-09-22 00:19] #88 closed

[2017-09-22 00:19] #74 closed

[2017-09-22 00:20] paagla123 commented on #38
This issue was moved to coa0329/BhaangWeb#46

[2017-09-22 00:20] #38 closed

[2017-09-22 00:20] paagla123 commented on #35
This issue was moved to coa0329/BhaangWeb#47

[2017-09-22 00:20] #35 closed

[2017-09-22 00:20] paagla123 commented on #20
This issue was moved to coa0329/BhaangWeb#48

[2017-09-22 00:20] #20 closed

[2017-09-22 00:21] paagla123 commented on #13
This issue was moved to coa0329/BhaangWeb#49

[2017-09-22 00:21] #13 closed

[2017-09-22 00:21] paagla123 commented on #8
This issue was moved to coa0329/BhaangWeb#50

[2017-09-22 00:21] #8 closed

[2017-09-22 00:22] #109 closed

[2017-09-22 00:23] paagla123 commented on #97
This issue was moved to coa0329/BhaangWeb#51

[2017-09-22 00:23] #97 closed

[2017-09-22 00:24] paagla123 commented on #37
Not doing this any more - we've agreed to save pages as we build them.

[2017-09-22 00:24] #37 closed

[2017-09-22 00:43] paagla123 commented on #100
Done in Staging

[2017-09-22 00:43] #100 closed

[2017-09-22 00:43] paagla123 commented on #54
Done in staging

[2017-09-22 00:54] paagla123 commented on #36
@AumpaiFung please add an email in the Celebrate A Day template. That was my mistake to miss it.

[2017-09-22 00:59] paagla123 commented on #117
@daver78 @paweenwich this issue still exists on smaller screens. Any ideas please?

[2017-09-22 01:05] daver78 commented on #117
@paagla123 What size viewport are you at?  Put a screenshot please?

[2017-09-22 01:13] paagla123 commented on #115
This is fixed - thank you. The pop up message needs some love. @daver78 you have suggestions?
![image](https://user-images.githubusercontent.com/29718335/30725251-1a422f3a-9ef8-11e7-9156-5c328931ceaa.png)

![image](https://user-images.githubusercontent.com/29718335/30725281-6ba6b6ac-9ef8-11e7-9b2c-2f933a11d48a.png)

![image](https://user-images.githubusercontent.com/29718335/30725289-7e749858-9ef8

[2017-09-22 01:16] paagla123 commented on #93
@paweenwich This is still messed up - in fact gotten worse in Staging
![image](https://user-images.githubusercontent.com/29718335/30725329-d714ff66-9ef8-11e7-81bd-8ce4770ca5d1.png)

![image](https://user-images.githubusercontent.com/29718335/30725338-f0116db0-9ef8-11e7-9b2a-edf52c5ef3ee.png)

[2017-09-22 01:20] paagla123 commented on #89
@daver78 what is this issue? Do we still need it?

[2017-09-22 02:54] daver78 commented on #115
@paagla123 Yes I have another task for this I think.  Let me assign it to myself and double check.

[2017-09-22 02:55] daver78 commented on #93
@paagla123 What do you mean "worse"?  It's either right or wrong.  I didn't know there are degrees of righness and wrongness here :)

[2017-09-22 02:55] daver78 commented on #89
@paagla123 Yes, same thing you raised in another issue.  I'll close this one and leave yours open.

[2017-09-22 02:55] #89 closed

[2017-09-22 09:16] coa0329 commented on #45
![150](https://user-images.githubusercontent.com/7914690/30737484-0646a402-9fb1-11e7-9bd3-2e319bf99f4e.JPG)

When the schedule has passed.

1 We will disable the input.
2 We will hide clock and calendar button. We will try to disable them later.

[2017-09-22 11:28] jiewsone commented on #75
I already refactor the email tab code.

[2017-09-22 13:07] daver78 commented on #45
@paagla123 there is an important thought here that I've held back discussing because I'm waiting for you to run a real-life campaign and raise it on your own (therefore, validating whether or not it is really an issue), but we should probably discuss in the event that you feel we should it address it.

Let's discuss this one today.

[2017-09-22 13:08] daver78 commented on #75
@jiewsone Yes, I noticed that you had started this.  Did you finish?

[2017-09-22 19:14] paagla123 opened #119 "[PABP: Step 1] HTML shows GIT merge conflict notation"
The message below appears when you merge branches and do not resolve a conflict.  @paweenwich should resolve them during the merge.

For now, just remove it from the HTML -- but going forward, watch for these during merge.  Git will notify you.

![image](https://user-images.githubusercontent.com/29718335/30760554-86b43bd0-9f8f-11e7-92ca-ac5a7ec527ea.png)

[2017-09-22 19:27] daver78 commented on #119
@paagla123 I cleaned up the issue description for you.

[2017-09-22 19:31] paagla123 commented on #93
@paweenwich @coa0329 I do not know why this cannot be fixed. The issue is crystal clear to me. The Zulu time calculation does not account for AM or PM. I edited this campaign at 1220PM Pacific time. See what couchDB has - 07:20:10Z. I went to zulutime.net and it shows 19:20:10 - pl see screenshots below. The reason you can never reproduce this issue is because you are always ahead of Zulu time. If

[2017-09-22 19:41] paagla123 commented on #101
@AumpaiFung @paweenwich @coa0329 this is fixed in Staging. How come it does not work in production? I thought you all said production and staging code are same now. Pl advise ASAP. Thx

[2017-09-22 20:24] daver78 commented on #93
@paagla123 and @paweenwich I have no idea what the heck ZULU time is, but I know what the problem is.  I already told @paagla123 how to solve this!

Whoever wrote the function for the `datetime` has `hh` instead of `HH`.

I'll look for it in the code and fix it.

[2017-09-22 20:44] daver78 commented on #93
Ok, this should do it.  `davinci.js` is the culprit, and whoever wrote this line:

![image](https://user-images.githubusercontent.com/7561473/30763635-0fb98cd0-9f9c-11e7-90e9-6b519f77b8ef.png)

[2017-09-22 20:57] #115 closed

[2017-09-22 20:58] #110 closed

[2017-09-22 21:02] #107 closed

[2017-09-22 21:03] #102 closed

[2017-09-22 21:03] #101 closed

[2017-09-22 21:04] #75 closed

[2017-09-22 21:04] #54 closed

[2017-09-22 21:04] #25 closed

[2017-09-22 21:06] #77 closed

[2017-09-22 21:06] #36 closed

[2017-09-22 21:09] paagla123 commented on #106
This issue was moved to coa0329/BhaangWeb#54

[2017-09-22 21:09] #106 closed

[2017-09-22 21:12] paagla123 commented on #93
@daver78 that is exactly the point. @paweenwich wanted to know why he can never reproduce it. He can only reproduce it if he tests it after 7PM Bangkok time. Do the math!

[2017-09-22 21:18] paagla123 opened #120 "eBook when you are trying to upload a document the document name is outside the field"
See screenshot below - both production and stage:
![image](https://user-images.githubusercontent.com/29718335/30764666-db83e9a6-9fa0-11e7-9dd7-61915e3aaccf.png)

[2017-09-22 21:32] paagla123 opened #121 "eBook Emails need their own template (subject says BLOG POST - should say eBook)"
See screenshot below: both emails please.
![image](https://user-images.githubusercontent.com/29718335/30765116-c490569c-9fa2-11e7-9a0c-bdf148a24275.png)

[2017-09-22 21:41] daver78 commented on #121
@paagla123 This isn't a bug -- we need a task to edit the default content for this blueprint (comprehensively).

If you want, assign it to me and I'll do it.

[2017-09-22 21:55] daver78 commented on #93
@paagla123 OK you win!  I'll give you a prize :)

Anywho, let's make sure this actually fixes it before we celebrate.  Please confirm (pull to your dev machine or wait until it is deployed to staging).

[2017-09-22 22:04] paagla123 opened #122 "eBook Need a way to upload images to the landing pages"
Even drag and drop does not work now

[2017-09-22 22:05] paagla123 opened #123 "eBook Missing content when program is published"
No content in the html pages - microsite or email

[2017-09-22 22:07] paagla123 opened #124 "eBook Auto publish happening even when there is no change"
@paweenwich may be you should do a hash comparison or something similar to evaluate anything has changed or not and then checkout and publish. Now the system publishes when I just click the save button, even if nothing has changed.
Also - no need to publish for content changes in S3 - right?

[2017-09-22 22:15] paagla123 commented on #34
Guys I will close this monster issue. There are a bunch of open issues on eBook - we will track those and open new ones if needed.

[2017-09-22 22:15] #34 closed

[2017-09-22 23:02] paagla123 opened #125 "Domain for microsites - eBook and Blog"
Let us use dvNNNNN.m.mdl.io for domains associated with each acct, where NNNNN stands for the account id. Use dvNNNNN.m.mdl.io/xxxxx for each microsite, where xxxxx is the campaign id as stoded in couchDB.
Right now I have created:
Campaign launcher: dv228.m.mdl.io
Davinci: dv16916.m.mdl.io
Davinci for Atrium: dv17124.m.mdl.io ( @coa0329  - were you thinking along the same line?)
Davinci for Mary:

[2017-09-22 23:15] paagla123 opened #126 "eBook: Logo on the micorsite page templates are hardcoded to MindFire logo - should be pulling from the logo uploaded to settings tab"

[2017-09-22 23:36] paagla123 opened #127 "eBook trigger email in eBook schedule does not change even when changed in the config"
Email2 changed schedule in DaVinci:
![image](https://user-images.githubusercontent.com/29718335/30767707-09ebb25c-9fb4-11e7-804f-be49e9da41a7.png)

In published Studio program still shows 1 hour:
![image](https://user-images.githubusercontent.com/29718335/30767719-1f337c26-9fb4-11e7-85ef-2dd445ddd260.png)

[2017-09-22 23:39] daver78 commented on #127
@paagla123 Did you republish in DV?

[2017-09-23 00:05] paagla123 opened #128 "Blog - I can no longer save and launch email3 after I have launched the campaign with the first two emails"
I used to be able to do that. To reproduce:
Create and schedule the first two emails and Launch.
Now create the 3rd email ad save. Create schedule for 3rd email - you can no longer save it - it just circles and can't launch either.
Ha-ma-da!

[2017-09-23 05:12] paagla123 commented on #127
@daver78 yes several times.

[2017-09-23 05:34] paagla123 commented on #93
@daver78 @paweenwich I will test tomorrow and let you know. I have to test after 5AM PST to reproduce it.

[2017-09-23 21:24] daver78 commented on #93
@paagla123 How are you going to test?  Do you pull it to your own environment?

[2017-09-25 02:51] paweenwich commented on #93
@daver78 I did that line :(

[2017-09-25 03:07] daver78 commented on #93
@paweenwich Ha!  No worries :)  Before we celebrate let's make sure @paagla123 confirms it is actually working.  I suspect it should be fine now, but let's see.

[2017-09-25 04:39] #119 closed

[2017-09-25 11:34] coa0329 commented on #128
Fixed on stage.

[2017-09-25 11:56] coa0329 commented on #126
Fixed on stage.

[2017-09-25 11:58] coa0329 commented on #125
Fixed on stage.

[2017-09-25 11:58] coa0329 commented on #127
Fixed on stage.

[2017-09-25 12:01] coa0329 commented on #123
Fixed on stage.

[2017-09-25 12:01] coa0329 commented on #42
Working on it.

[2017-09-25 12:04] jiewsone commented on #120
I already fix it.

[2017-09-25 16:00] paagla123 commented on #93
@daver78 @paweenwich not fixed - did anyone overwrite .js changes by Dave?

[2017-09-25 19:22] paagla123 commented on #42
@coa0329 remember to save the information about the person that converted somewhere in the cDB. Also reminder to use contactID and not anything that is identifiable with the person.

[2017-09-25 19:32] paagla123 commented on #117
@daver78 remember to try this on an iPad

[2017-09-25 19:36] daver78 commented on #117
@paagla123 OK, I will.

[2017-09-25 19:54] paagla123 commented on #93
@paweenwich this is fixed. Please assign someone to get the angular moment code set up correctly in the display. We can then retest and move this to prod this week.

[2017-09-26 02:07] paagla123 commented on #128
@coa0329 this is not fixed on stage. In fact, once the campaign is published, you cannot change or add to schedule. Try changing schedule or adding a 3rd email to KD-0925-Blog-01PM under daVinci, logged in as kdutta

[2017-09-26 02:19] paagla123 opened #129 "Content not correctly displayed for View in Browser for emails in Blog"
When I click on View in Browser for Email1 of Blog, we get the following on screen:
![image](https://user-images.githubusercontent.com/29718335/30839346-2a59c492-a226-11e7-9d40-80721ba33c9a.png)

The domain appears to be wrong. In Studio we see
![image](https://user-images.githubusercontent.com/29718335/30839371-4600ab7a-a226-11e7-93d7-498c15d58136.png)

In the browser, the domain we see is differ

[2017-09-26 02:21] paagla123 commented on #125
@coa0329 we have issues for Blog - see issue #129

[2017-09-26 02:21] paagla123 commented on #117
Moving to post Martech.

[2017-09-26 02:23] paagla123 commented on #117
This issue was moved to coa0329/BhaangWeb#63

[2017-09-26 02:23] #117 closed

[2017-09-26 02:24] paagla123 commented on #42
@coa0329 I have set up a campaign with conversion points for your to test. Its called Blog-0925-Google Analytics-Test .

[2017-09-26 02:27] paagla123 commented on #120
Nicely done - I like it. Ready for production.

[2017-09-26 02:39] paweenwich commented on #93
@paagla123 you mean, remove the exact date time, so it  show only "xxxx hours agao".  Is this correct?

[2017-09-26 02:40] paagla123 commented on #93
@paweenwich yup!

[2017-09-26 02:48] paweenwich commented on #124
Ok, we will try to optimize the save/publish process.

[2017-09-26 02:52] paweenwich commented on #121
@paagla123 @daver78  I need a direction on this one.  Right now, we shared the email template for all blueprints.  So, if we keep doing this, the template content should be generic (not specific to any blue print).    Or

We make template to be blueprint dependent.  This way, the template can be more specific, however, we lost share ability.

Any suggestion?

[2017-09-26 02:52] paagla123 commented on #123
@coa0329 OK we have content for landing pages now. However, when we visit the URL this is how it shows:
![image](https://user-images.githubusercontent.com/29718335/30840256-10717f70-a22b-11e7-8856-8ae34817c687.png)

[2017-09-26 03:04] paagla123 commented on #123
I can see email content but cannot test because microsite is not displaying correctly

[2017-09-26 03:06] paagla123 commented on #121
@paweenwich @daver78 I am pretty clear here - email template should be blueprint specific.

[2017-09-26 03:08] paagla123 commented on #127
Works now in stage

[2017-09-26 03:21] coa0329 commented on #128
I cannot repeat it.

I can add email3 and change schedule in all emails.

![153](https://user-images.githubusercontent.com/7914690/30840992-7c80592e-a2a4-11e7-9589-5ad83f45c4dd.JPG)

![154](https://user-images.githubusercontent.com/7914690/30840995-813691b8-a2a4-11e7-8886-9cc1cf1b6a5a.JPG)

[2017-09-26 03:23] coa0329 commented on #129
Which campaign ?

[2017-09-26 03:26] coa0329 commented on #42
@paagla123

cDB cannot do that, If you want to keep the person information we need to use mysql db.

We must create the daily cron to get data from GA to save in our db.

[2017-09-26 03:35] coa0329 commented on #123
This is the same as https://github.com/coa0329/BhaangWeb/issues/24

[2017-09-26 04:07] daver78 commented on #124
@paagla123 and @paweenwich Are we publishing even for changes to S3 content?

[2017-09-26 04:43] paagla123 commented on #129
Sorry I was looking at the wrong campaign!

[2017-09-26 05:45] paagla123 commented on #128
The scenario was I could not add email3 after emails 1 & 2 went out. That is the most likely scenario. I will retest

[2017-09-26 06:08] paweenwich commented on #124
save optimized
(not save if no change)
 but still always publish and upload items to s3

[2017-09-26 09:14] paweenwich commented on #124
check in optimized done
(not check in if MAML is not differ than previous one)
but still always upload item to S3

[2017-09-26 10:30] paweenwich commented on #124
Finally, all done.

[2017-09-26 11:18] coa0329 commented on #125
Fixed on stage for eBook.

Please create the new campaign when you test.

[2017-09-26 11:19] coa0329 commented on #123
Fixed on stage for eBook.

Please create the new campaign when you test.

[2017-09-26 14:12] daver78 opened #130 "Research how to only move certain features to staging, production"
This is to track Kushal's request for this idea.  Things to look into:

- blue/green deployment with git
- right git workflow for this idea
- feature toggle idea with git; what is latest thinking on this by others

[2017-09-26 14:13] #130 closed

[2017-09-26 22:17] paagla123 commented on #42
@coa0329 permission given. Why do you say cDB cannot do it?

[2017-09-26 22:24] paagla123 commented on #108
@Mcfarsheed what's the plan here?

[2017-09-26 22:28] paagla123 commented on #129
@coa0329 did we address this when we worked on the eBook?

[2017-09-26 23:20] paagla123 commented on #42
This issue was moved to coa0329/BhaangWeb#65

[2017-09-26 23:20] #42 closed

[2017-09-26 23:20] paagla123 commented on #108
@Mcfarsheed let's chat tomorrow

[2017-09-27 00:00] paagla123 commented on #128
@coa0329 test ok on stage - thank you.

[2017-09-27 00:31] coa0329 commented on #129
![149](https://user-images.githubusercontent.com/7914690/30890188-8aa3636e-a355-11e7-95e5-67772410cd3a.JPG)

The domain in studio is davinci16916.m.mdl.io/21b0750b127b8352f4ad6e3f66cd3650

[2017-09-27 00:33] paagla123 commented on #124
@paweenwich it seems you have stopped publish, but you are still enabling edit.

[2017-09-27 00:35] paagla123 commented on #123
@coa0329 all page contents seem hard coded to http://davincistage.mindfireis.com/admin/login.html so we get to the login page in daVinci

[2017-09-27 00:37] coa0329 commented on #123
Yes, It will render to the link to S3 when you save each page, email.

[2017-09-27 00:54] paagla123 commented on #129
@coa0329 I just retested everything. I have the new campaign published KD-0926-Blog-03. When I clicked on the View in Browser link I got this screenshot pasted below. The content is still going through ##email1content## as I see. The actual S3 location is perfect, I think somehow the variable has been left behind and causing the issue. Pl fix. Also - pl note that you have to mark one of the pages

[2017-09-27 00:57] coa0329 commented on #129
We fixed eBook yesterday.

We will fix Blog today.

[2017-09-27 01:06] paagla123 commented on #129
@coa0329 pl make sure you mark a page a home page in the microsite for blog.
eBook not fixed - see my comments on that issue pl.

[2017-09-27 01:08] paagla123 commented on #123
Its not changing the value. I have tested twice. All pages are left with the same value of  http://davincistage.mindfireis.com/admin/login.html. See screenshot here - after publish from daVinci.
![image](https://user-images.githubusercontent.com/29718335/30891059-aa92739c-a2e5-11e7-95ec-3d511da52f6d.png)

[2017-09-27 01:08] coa0329 commented on #129
Which issue ? Please specify.

[2017-09-27 01:09] paagla123 commented on #129
@coa0329 #123

[2017-09-27 01:11] coa0329 commented on #123
Which campaign ?

Please specify when you report the issue next time.

[2017-09-27 01:16] paagla123 commented on #129
@coa0329 please calm down and go through everything one by one. I have spent all day testing and I know what I am talking about. This screenshot is from eBook - that one has hoe page. The Blog is missing a home page.

[2017-09-27 01:24] paagla123 commented on #121
@paweenwich please help me find the location where the default content for the eBook are kept - I ran out of time today, but I'd like to change them. Thank you.

[2017-09-27 01:26] paagla123 opened #131 "eBook Lead Trigger Content missing"
@daver78 you and I need to discuss this first - I just realized that this is not the same as blog.

[2017-09-27 01:28] paagla123 opened #132 "URL for eBook"
@coa0329  it should be copied to the fields in landing page settings so that people can see it easily. Pl see screenshot below.

![image](https://user-images.githubusercontent.com/29718335/30891469-6e6920fc-a2e8-11e7-96c4-a1981036377e.png)

[2017-09-27 01:36] coa0329 commented on #121
PromoteBlog
emails templates
BhaangWeb/html/admin/templates/emails/BLOG-COMPANY-EMAIL.html
BhaangWeb/html/admin/templates/emails/BLOG-PLAIN-EMAIL.html

pages templates
Welcome
BhaangWeb/html/admin/templates/pages/welcome/EBOOK-LANDINGPAGE-COMPANY-WELCOME.html
BhaangWeb/html/admin/templates/pages/welcome/EBOOK-LANDINGPAGE-COMPANY-WELCOME-2.html

Download
BhaangWeb/html/admin/templates/pages/thankyo

[2017-09-27 01:38] coa0329 commented on #132
Please explain more.

Do you want to put the correct domain in welcome page URL and Thank you page url ?

[2017-09-27 01:58] Mcfarsheed commented on #108
ok! I'll call you!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Tue, Sep 26, 2017 at 6:20 PM, Paagla123 <notifications@github.com> wrote:

[2017-09-27 02:04] paweenwich commented on #121
@paagla123, A few thing that you need to know
1) [[REMOVE xxxx   ]]
This will exclude xxxx from Davinci view/editor, but keeping it for final render (email/landing page).
*after REMOVE need one more space

For example.
[code]

Davinci edit will not see <HTML><HEAD> ...

2) {{RAW FIELD_NAME}}
This will render value in FIELD_NAME with out doing any HTML encode.    Without "RAW", it will do HTML enco

[2017-09-27 03:02] daver78 commented on #121
@paagla123 Are you going to make edits?  You comfortable with your environment + git?

[2017-09-27 03:03] daver78 commented on #131
@paagla123 OK.  I'm not sure what you mean?

[2017-09-27 03:06] paagla123 commented on #132
Yes @coa0329 , the domain that is in Studio when the program gets published, appended by /Welcome.html or /Download.html as the case may be. Thank you.

[2017-09-27 03:06] daver78 commented on #132
@paagla123 and @coa0329 There are details in BhaangWeb -> [Microsite] Settings Requirements #27

[2017-09-27 03:07] paagla123 commented on #131
@daver78 we can talk tomorrow

[2017-09-27 03:12] paagla123 commented on #108
For you @Mcfarsheed
https://youtu.be/-mVMvfqnUWs?t=45s

[2017-09-27 07:34] coa0329 commented on #132
Fixed on stage.

[2017-09-27 07:42] coa0329 commented on #131
You can change the content of the triggers on S3

eBook
DownloadAlertLeadTrigger
https://s3-us-west-1.amazonaws.com/bkktest/template/ebook_downloadleadtrigger.html

VisitAlertLeadTrigger
https://s3-us-west-1.amazonaws.com/bkktest/template/ebook_visitleadtrigger.html

Promote Blog
OpenAlertLeadTrigger
https://s3-us-west-1.amazonaws.com/bkktest/template/promoteblog_openalert.html

ClickAlertLeadTrig

[2017-09-27 07:52] coa0329 commented on #129
The Blog is missing a home page.
- Fixed on stage

Kwang is working on ##emailXcontent## in microsite.

[2017-09-27 10:20] coa0329 commented on #123
Fixed on stage.

[2017-09-27 15:35] Mcfarsheed commented on #108
haha Kush!

Sincerely,

Mackenzi
MindFireInc.
949-842-4388
www.mindfireinc.com

On Tue, Sep 26, 2017 at 10:12 PM, Paagla123 <notifications@github.com>
wrote:

[2017-09-27 18:35] paagla123 commented on #132
@coa0329 great work thank you. Can you please make the microsite open in a new tab when somene clicks on the link? Pl see screenshot below.
![image](https://user-images.githubusercontent.com/29718335/30930914-04332206-a378-11e7-83b2-9133c6db8fdf.png)

[2017-09-27 19:03] paagla123 commented on #131
@coa0329 Looks like I made a mistake in creating the MAML template. The Welcome page should be of Add Contact type for the contact to be saved and used in the lead trigger.  Only change is in the Property called PageType from the Welcome.html page. Pl see below and let me know if you ca take care of this.

What we have now:
         <ChildElement Id="16" RuleGroup="ContentVariables" DbId="0" Type=

[2017-09-27 19:04] paagla123 commented on #131
@coa0329 I do not have access to the above htmls in S3. Looks like they have to be made Public.

[2017-09-27 19:07] paagla123 commented on #131
@daver78 what happens when someone creates a form that does not include the dedupe and the PURL generation criteria? Should we ask @AumpaiFung to change the form generation to have Minimum of Firstname, Lastname and Email in every form? These three fields in that case cannot be removed. Thoughts?

[2017-09-27 19:17] daver78 commented on #131
@paagla123 Awesome, I was waiting for this to get raised.  Few thoughts:

1) When a new sub-account is automatically created for a DV user, are we setting `email` as the only de-dupe?  I imagine in the future we have to make this configurable; but for now, I agree if we're tying this down to 1 field.

2) If `email` is the only de-dupe field, I think the only field we should require in the form is

[2017-09-27 19:23] paagla123 commented on #124
@paweenwich you are enabling edit first, then checking the content and deciding not to publish if there is no change. In the process the MAML is left checked out. You should either not check it out at all (if possible), or if you decide not to publish, undo checkout.

[2017-09-27 19:57] paagla123 commented on #129
@paweenwich what is your ETA on this one? We're running out of time for Martech. Would like to freeze code in production by Friday. Thx

[2017-09-27 20:55] paagla123 commented on #123
@coa0329 @paweenwich this is only partially fixed. The landing pages show up correctly, but not the emails. I assume this will get fixed along with #129 - is that right?

[2017-09-27 21:03] paagla123 opened #133 "eBook download link is hardcoded"
eBook download link is hardcoded to https://s3-us-west-1.amazonaws.com/mfimarketing/content/dscoop17-mindfire-agency-spi-case-study.pdf. It should go to the link of the eBook either uploaded or keyed in. Pl fix ASAP.

[2017-09-27 21:08] paagla123 opened #134 "eBook Email to a Friend Link does not work"

[2017-09-27 21:11] paagla123 opened #135 "Form for drop down fields we should not allow pre-fill"

[2017-09-27 23:07] paagla123 opened #136 "eBook the contact form can be submitted without filling in the required fields"
I created a form contact-kd under davinci acct and used it in eBook KD-0927-eBook-03. Welcome page link is http://dv16916.m.mdl.io/a9cf22047913822d77949feb00b55c96/Welcome.html?SessionGuid=07a31a96-7a92-4683-86d8-66c9ae3db078 . Firstname, lastname and email are required. I can submit the form without filling in these fields.

[2017-09-27 23:08] paagla123 opened #137 "eBook Welcome page needs to be of type Add Contact"
@coa0329 Looks like I made a mistake in creating the MAML template. The Welcome page should be of Add Contact type for the contact to be saved and used in the lead trigger.  Only change is in the Property called PageType from the Welcome.html page - value to change from Page to AddContact. Pl see below and let me know if you can take care of this in the existing eBook template.

What we have now:

[2017-09-27 23:11] paagla123 commented on #137
Referenced in #131

[2017-09-27 23:31] paagla123 opened #138 "eBook Templates need to be made available"
@coa0329 @paweenwich I can see the Lead Trigger templates for Blog but not for eBooks. They need public permissions. Related to #131 . Please also let me know where the templates for landing pages (html) and Thank You emails are.

eBook
DownloadAlertLeadTrigger
https://s3-us-west-1.amazonaws.com/bkktest/template/ebook_downloadleadtrigger.html

VisitAlertLeadTrigger
https://s3-us-west-1.amazonaws.c

[2017-09-28 01:09] coa0329 commented on #138
Add permission to eBook trigger templates on S3.

===========

BhaangWeb branch stage.

Welcome Page
BhaangWeb/html/admin/templates/pages/welcome/EBOOK-LANDINGPAGE-COMPANY-WELCOME.html
BhaangWeb/html/admin/templates/pages/welcome/EBOOK-LANDINGPAGE-COMPANY-WELCOME-2.html

Download Page
BhaangWeb/html/admin/templates/pages/thankyou/EBOOK-LANDINGPAGE-COMPANY-THANKS.html
BhaangWeb/html/admin/templates

[2017-09-28 02:13] paweenwich commented on #136
@paagla123 You have not told us anything about form validating/submission ... etc.  I though Studio, which host this will handle the required field as well as form posting.     Is there any easy way to do this without generating javascript code to check it?

[2017-09-28 02:15] paweenwich commented on #129
This thing will work today.

[2017-09-28 03:05] coa0329 commented on #132
Make the microsite open in a new tab when someone clicks on the link?
- Fixed on stage.

[2017-09-28 03:06] coa0329 commented on #133
Fixed on stage.

[2017-09-28 03:16] coa0329 commented on #137
Fixed on stage,

[2017-09-28 03:23] paagla123 commented on #136
@paweenwich yes Studio will do it if you set the correct properties before publishing the MAML
Right now the code for First Name in the MAML is:
             < Input Type="TextBox" Name="First Name" IsEncrypted="False">
                <IsRequired>False</IsRequired>
                <ValidationRegex />
                <ValidationRegexMessage />
              </Input>

For validation it should be:

[2017-09-28 03:28] paagla123 commented on #136
@paweenwich @daver78 I am thinking that since we MUST have firstname, lastname and email, we should make them required in the MAML itself and in the form they cannot be removed. We make them required by default. Remaining fields we work out if required should be turned on or not.

[2017-09-28 03:29] paagla123 commented on #129
@paweenwich I like your confidence. :-)

[2017-09-28 03:49] paagla123 opened #139 "Forms fieldnames in form must match Studio's standard field names wherever applicable"
@AumpaiFung please make sure that the fieldnames match with Studio's standard field names. Don;t bother with custom fields - we will deal with them later. Example - you have field name as "First Name", studio have "firstname" - without the space in between.

[2017-09-28 05:06] paagla123 opened #140 "eBook Prospect Firstname hard coded in download.html"
Says "Thank you, Dave!", should be "Thank you, ##firstname##!"

[2017-09-28 05:20] paagla123 opened #141 "eBook Copy URL button on download.html page does not work"

[2017-09-28 07:31] coa0329 commented on #140
Fixed on stage.

[2017-09-28 08:49] jiewsone commented on #141
#141 fixed on stage

[2017-09-28 08:56] coa0329 commented on #129
Fixed on stage.

[2017-09-28 09:46] AumpaiFung commented on #136
@paagla123
From link above >> ( http://dv16916.m.mdl.io/a9cf22047913822d77949feb00b55c96/Welcome.html?SessionGuid=07a31a96-7a92-4683-86d8-66c9ae3db078)
It's not set require field so when click "Download Now!" will not required any field.

Please try this! >> http://dv16916.m.mdl.io/0522b1b0a97d2bd443e02fa2f4928e8c/Welcome.html?SessionGuid=4c5d8a1b-a666-45f1-bb6c-9afa626d3500
This is Davinci stage,

[2017-09-28 09:47] AumpaiFung commented on #135
Stage fixed.

[2017-09-28 09:47] AumpaiFung commented on #139
Stage fixed.

[2017-09-28 10:26] coa0329 commented on #124
@paweenwich fixed it.

[2017-09-28 20:33] paagla123 opened #142 "Forms: Screen goes dark and cannot do anything (see screenshot)"
![image](https://user-images.githubusercontent.com/29718335/30988875-9ca40982-a450-11e7-87f7-0c75aab7e398.png)

To reproduce, drag a couple of fields over to the middle section. Now click on the setup icon (gear) . Ciick on fitstname to view th issue

[2017-09-28 21:27] #45 closed

[2017-09-28 21:27] #93 closed

[2017-09-28 21:28] #125 closed

[2017-09-28 21:30] paagla123 commented on #128
Re launch is fine - schedules of new emails a problem. I have opened a new issue under bhangweb/#97

[2017-09-28 21:30] #128 closed

[2017-09-28 21:30] #129 closed

[2017-09-28 21:31] #135 closed

[2017-09-28 21:42] #141 closed

[2017-09-28 21:42] #120 closed

[2017-09-28 21:43] #122 closed

[2017-09-28 22:53] #123 closed

[2017-09-28 22:54] #126 closed

[2017-09-28 22:54] #132 closed

[2017-09-28 22:55] #140 closed

[2017-09-28 22:55] #139 closed

[2017-09-28 22:55] #137 closed

[2017-09-28 22:56] #133 closed

[2017-09-28 22:56] #138 closed

[2017-09-28 22:59] daver78 commented on #142
@paagla123 I cannot repo.  Can you do a short video in case me and @AumpaiFung do something different than you?

[2017-09-28 23:00] #131 closed

[2017-09-28 23:01] paagla123 commented on #142
I showed @AumpaiFung last night

[2017-09-28 23:03] daver78 commented on #142
@paagla123 OK ignore me then :)

[2017-09-28 23:04] paagla123 commented on #136
@paweenwich How has this been implemented?

[2017-09-28 23:12] paagla123 opened #143 "eBook - the URL based content needs to be adjusted to make it work with the form post in Welcome page"
@paweenwich let's review this over GoToMeeting today - Thx

[2017-09-29 01:56] paweenwich commented on #136
@paagla123 Right now we use bootstrap frame work to handle it.  You need to set which field is required in the form template via UI.  We did not touch Studio feature for <INPUT> in the MAML.

[2017-09-29 03:57] AumpaiFung commented on #142
@paagla123   I can not reproduce also.

[2017-09-29 05:03] #127 closed

[2017-09-29 10:29] AumpaiFung commented on #142
@paagla123
We found that causes of when create new form.
1. First put cursor focus on Form Name input box.
2. Drag right field to the middle.
3. Press setting button of original field.
Then the dark screen occured.

I fixed it on Stage.
**NOTE** Please beware cache.

[2017-10-02 03:56] paagla123 commented on #143
@paweenwich @coa0329

 - look at the code in lines 36-61 in the attached. This part is created by Studio. I believe we are missing this part when we are creating the MAML, which is causing the form data to not post. Pl let me know what you guys think. Thanks - Kushal
[SampleFormforMAMLs.maml.txt](https://github.com/coa0329/Bhaang/files/1347849/SampleFormforMAMLs.maml.txt)

           < Form>

[2017-10-02 03:57] #136 closed

[2017-10-02 03:58] paagla123 commented on #134
This issue was moved to coa0329/BhaangWeb#99

[2017-10-02 03:58] #134 closed

[2017-10-02 03:59] paagla123 commented on #108
This issue was moved to coa0329/BhaangWeb#100

[2017-10-02 03:59] #108 closed

[2017-10-02 04:00] paagla123 commented on #124
This issue was moved to coa0329/BhaangWeb#101

[2017-10-02 04:00] #124 closed

[2017-10-02 04:01] paagla123 commented on #121
This issue was moved to coa0329/BhaangWeb#102

[2017-10-02 04:01] #121 closed

[2017-10-02 23:23] paagla123 commented on #142
@AumpaiFung @paweenwich @coa0329 this is working well. Ready for production. I am going to close this. Thx

[2017-10-02 23:23] #142 closed

[2017-10-02 23:24] paagla123 commented on #143
This issue was moved to coa0329/BhaangWeb#103

[2017-10-02 23:24] #143 closed